n8n-workflows/picturebook-workflow.json
{"updatedAt":"2026-02-14T23:01:05.727Z","createdAt":"2025-12-15T21:46:11.673Z","id":"1GgD7oHDSv7BRpcc","name":"Picture Book Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Log Provider Usage for Cost Tracking\nconst panel = $input.first().json;\nconst provider = panel.currentProvider || 'gemini';\nconst imageIndex = panel.imageIndex;\nconst bookId = panel.bookId;\nconst isCover = panel.isCover || false;\n\n// Detailed logging for cost tracking and debugging\nconsole.log('═══════════════════════════════════════════');\nconsole.log(`📊 PROVIDER USAGE LOG`);\nconsole.log(`├─ Provider: ${provider.toUpperCase()}`);\nconsole.log(`├─ Book ID: ${bookId}`);\nconsole.log(`├─ Type: ${isCover ? '🖼️ Cover' : '📖 Page Image ' + (imageIndex + 1)}`);\nconsole.log(`├─ Timestamp: ${new Date().toISOString()}`);\nconsole.log('═══════════════════════════════════════════');\n\n// Pass through all data including binary for upload\nreturn [{\n  json: panel,\n  binary: $input.first().binary\n}];"},"id":"5faa420f-0fcf-4d64-96cd-b4c8aa467f7d","name":"Log Provider Usage","type":"n8n-nodes-base.code","typeVersion":2,"position":[7904,736]},{"parameters":{"method":"POST","url":"={{ $('Setup2').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Setup2').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Setup2').first().json.jobId, status: 'completed', progress: 100, currentStep: $('Setup2').first().json.messages.bookComplete }) }}","options":{"timeout":120000}},"id":"c3dc72a1-6019-45e9-91b8-49d50816513f","name":"Status: Complete2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5216,720],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"books","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Setup2').first().json.bookId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"6aab45dc-0b57-47cf-b28f-21ae08a7d45d","name":"Complete Book2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4992,720],"credentials":{"supabaseApi":{"id":"Wm3kjJ5eRN503SKq","name":"Bookcraft"}}},{"parameters":{"operation":"update","tableId":"book_generation_jobs","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Setup2').first().json.jobId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"},{"fieldId":"progress","fieldValue":"100"},{"fieldId":"current_step","fieldValue":"={{ $('Setup2').first().json.messages.bookComplete }}"},{"fieldId":"completed_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"last_heartbeat_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"cfc229de-2f23-432b-932f-d4d564468ccf","name":"Complete Job2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4768,720],"credentials":{"supabaseApi":{"id":"Wm3kjJ5eRN503SKq","name":"Bookcraft"}}},{"parameters":{},"id":"3ebb7627-0aa2-4c9b-9726-ea9d16c0f8f6","name":"Continue Loop2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8576,1152]},{"parameters":{"method":"POST","url":"={{ $('Loop Images2').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Loop Images2').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Loop Images2').first().json.jobId, status: 'processing', progress: Math.round(10 + (($('Loop Images2').first().json.imageIndex + 1) / $('Loop Images2').first().json.totalImages) * 85), currentStep: $('Setup2').first().json.messages.imageDone.replace('{current}', $('Loop Images2').first().json.imageIndex + 1).replace('{total}', $('Loop Images2').first().json.totalImages), image: { pageIndex: $('Loop Images2').first().json.pageIndex, panelIndex: $('Loop Images2').first().json.panelIndex, imageUrl: $('Log Provider Usage').first().json.imageUrl || '' } }) }}","options":{"timeout":120000}},"id":"f9b69575-c817-480c-a721-e286bb417f42","name":"Send Image Update2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8352,736],"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"={{ $('Loop Images2').first().json.supabaseUrl }}/storage/v1/object/{{ $('Loop Images2').first().json.storageBucket }}/{{ $input.first().json.storagePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Loop Images2').first().json.supabaseServiceKey }}"},{"name":"Content-Type","value":"image/png"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"timeout":120000}},"id":"37842bcb-4305-4797-a55f-83f624a11f7a","name":"Upload to Supabase Storage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8128,736],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nconst charDesc = panel.characterDescription || '';\nconst sceneDesc = panel.imagePrompt || 'illustration';\nconst style = panel.config.imageStyle || 'watercolor';\n\n// Reference image support\nconst hasRefImage = panel.hasReferenceImage || setup.hasReferenceImage || false;\nconst refImageMode = panel.referenceImageMode || setup.referenceImageMode || 'style';\nconst refImageBase64 = panel.referenceImageBase64 || setup.referenceImageBase64 || null;\n\n// Build prompt: Characters + Scene + Style\nlet finalPrompt = '';\n\nif (charDesc) {\n  finalPrompt = charDesc + '. Scene: ' + sceneDesc;\n} else {\n  finalPrompt = sceneDesc;\n}\n\n// Handle reference image based on mode\nif (hasRefImage) {\n  if (refImageMode === 'style') {\n    // Style Copy mode: Create new images inspired by the reference style\n    console.log('🎨 Reference Image Mode: STYLE COPY');\n    finalPrompt += `, rendered in the exact same visual style as a provided reference artwork, carefully matching its color palette, brushwork texture, line quality, lighting mood, and artistic technique. ${style} style inspired, children book illustration, consistent character design, high quality, cohesive visual identity`;\n  } else if (refImageMode === 'edit') {\n    // Direct Edit mode: Note that this requires the Edit API endpoint\n    // For now, we add a note - full implementation requires switching to /v1/images/edits\n    console.log('🎨 Reference Image Mode: DIRECT EDIT');\n    console.log('⚠️ Note: Direct Edit mode requires the OpenAI Images Edit API endpoint');\n    finalPrompt += `, ${style} style, children book illustration, consistent character design, high quality, vibrant colors`;\n  }\n} else {\n  finalPrompt += `, ${style} style, children book illustration, consistent character design, high quality, vibrant colors`;\n}\n\n// Keep prompt concise (token limit)\nif (finalPrompt.length > 1500) {\n  finalPrompt = finalPrompt.substring(0, 1500);\n}\n\nconsole.log('🎨 Generating image', panel.imageIndex + 1, 'of', panel.totalImages);\nconsole.log('📸 Has Reference Image:', hasRefImage);\nconsole.log('📸 Reference Mode:', refImageMode);\nconsole.log('📝 Final Prompt:', finalPrompt.substring(0, 200) + '...');\n\nreturn [{\n  json: {\n    ...panel,\n    finalPrompt: finalPrompt,\n    hasReferenceImage: hasRefImage,\n    referenceImageMode: refImageMode,\n    referenceImageBase64: refImageBase64\n  }\n}];"},"id":"69b9b1a7-68e2-4948-a672-f871e48cb353","name":"Prepare Imagen Request2","type":"n8n-nodes-base.code","typeVersion":2,"position":[5328,912]},{"parameters":{"amount":2},"id":"e529f6ae-7dcb-4b93-ad1f-9a6ed56bd0c2","name":"Wait 2s2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5216,912],"webhookId":"31eef76b-a88a-41d7-b558-0aa7a7933266"},{"parameters":{"operation":"update","tableId":"book_generation_jobs","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Images2').first().json.jobId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_heartbeat_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"current_step","fieldValue":"={{ $('Setup2').first().json.messages.imageOf.replace('{current}', $('Loop Images2').first().json.imageIndex + 1).replace('{total}', $('Loop Images2').first().json.totalImages) }}"},{"fieldId":"progress","fieldValue":"={{ Math.round(10 + ($('Loop Images2').first().json.imageIndex / $('Loop Images2').first().json.totalImages) * 85) }}"}]}},"id":"6c8a3a03-2ac9-4b29-a0df-1cb693d9c7d6","name":"Heartbeat2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4992,912],"credentials":{"supabaseApi":{"id":"Wm3kjJ5eRN503SKq","name":"Bookcraft"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('Loop Images2').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Loop Images2').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Loop Images2').first().json.jobId, status: 'processing', progress: Math.round(10 + ($('Loop Images2').first().json.imageIndex / $('Loop Images2').first().json.totalImages) * 85), currentStep: $('Setup2').first().json.messages.imageGenerating.replace('{current}', $('Loop Images2').first().json.imageIndex + 1).replace('{total}', $('Loop Images2').first().json.totalImages) }) }}","options":{"timeout":120000}},"id":"e1b85bfa-bfc8-4cc8-ba94-b1692cee3a02","name":"Status: Generating Image2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4768,912],"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"8c12f9ba-47a4-4e39-97c4-ec26748e2306","name":"Loop Images2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4544,912]},{"parameters":{"jsCode":"const data = $('Parse Outline2').first().json;\nconst setup = $('Setup2').first().json;\nconst allPanels = [];\nlet imageIndex = 0;\n\nconsole.log('📋 Setup data keys:', Object.keys(data).join(', '));\nconsole.log('🔑 Supabase URL present:', !!data.supabaseUrl);\nconsole.log('🌍 Language:', setup.language);\nconsole.log('📸 Has Reference Image:', setup.hasReferenceImage);\nconsole.log('📸 Reference Mode:', setup.referenceImageMode || 'none');\n\nfor (const page of data.outline.pages) {\n  for (const panel of page.panels) {\n    allPanels.push({\n      imageIndex: imageIndex++,\n      pageNumber: page.number,\n      pageIndex: page.number - 1,\n      panelIndex: panel.panelIndex,\n      imagePrompt: panel.imagePrompt,\n      pageText: page.text,\n      characterDescription: data.characterDescription || '',\n      jobId: data.jobId,\n      bookId: data.bookId,\n      userId: data.userId,\n      callbackUrl: data.callbackUrl,\n      webhookSecret: data.webhookSecret,\n      config: data.config,\n      totalImages: data.totalImages,\n      totalPages: data.outline.pages.length,\n      supabaseUrl: data.supabaseUrl,\n      supabaseServiceKey: data.supabaseServiceKey,\n      storageBucket: data.storageBucket,\n      language: setup.language,\n      languageName: setup.languageName,\n      messages: setup.messages,\n      // Reference image data for style transfer or editing\n      hasReferenceImage: setup.hasReferenceImage || false,\n      referenceImageBase64: setup.referenceImageBase64 || null,\n      referenceImageMode: setup.referenceImageMode || null\n    });\n  }\n}\n\nconsole.log('🎨 Prepared', allPanels.length, 'images for generation');\n\nreturn allPanels.map(p => ({ json: p }));"},"id":"c9b420f5-5bca-452e-bfb8-ac651b0868ce","name":"Flatten All Panels2","type":"n8n-nodes-base.code","typeVersion":2,"position":[4320,912]},{"parameters":{"method":"POST","url":"={{ $json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', progress: 10, currentStep: $('Setup2').first().json.messages.structureCreated, pictureBookConfig: { totalPages: $json.outline.pages.length, pages: $json.outline.pages.map(p => ({ pageIndex: p.number - 1, text: p.text, panels: p.panels })) } }) }}","options":{"timeout":120000}},"id":"19506086-5030-4252-a5f6-b468bd2b92a3","name":"Status: Outline Done2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,816],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst setup = $('Setup2').first().json;\n\nlet outline;\nlet characterDescription = '';\n\ntry {\n  let outlineText = '';\n  \n  // Parse OpenAI response structure\n  if (response.choices?.[0]?.message?.content) {\n    outlineText = response.choices[0].message.content;\n  } else if (response.text) {\n    outlineText = response.text;\n  } else if (typeof response === 'string') {\n    outlineText = response;\n  }\n  \n  // Clean up potential markdown code blocks\n  outlineText = outlineText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  outline = JSON.parse(outlineText);\n  characterDescription = outline.characterDescription || '';\n  \n  console.log('✅ GPT-4o Outline parsed successfully');\n  console.log('📝 Character Description:', characterDescription.substring(0, 200) + '...');\n  console.log('📖 Pages:', outline.pages.length);\n} catch (e) {\n  console.error('❌ Failed to parse GPT-4o response:', e);\n  \n  // Fallback structure\n  const fallbackCharacters = setup.config.mainCharacters || 'a character';\n  characterDescription = `Character: ${fallbackCharacters} in ${setup.config.imageStyle || 'illustration'} style`;\n  \n  outline = {\n    bookSummary: setup.config.title,\n    characterDescription: characterDescription,\n    pages: Array.from({ length: setup.totalPages }, (_, i) => ({\n      number: i + 1,\n      text: `Text für Seite ${i + 1}`,\n      panels: [{ panelIndex: 0, imagePrompt: 'scene illustration' }]\n    }))\n  };\n}\n\n// Validate and normalize structure\nif (!outline.pages || outline.pages.length === 0) {\n  outline.pages = Array.from({ length: setup.totalPages }, (_, i) => ({\n    number: i + 1,\n    text: `Seite ${i + 1}`,\n    panels: [{ panelIndex: 0, imagePrompt: 'scene' }]\n  }));\n}\n\n// Normalize pages\noutline.pages = outline.pages.map((page, i) => {\n  const panels = Array.isArray(page.panels) ? page.panels : [{ panelIndex: 0, imagePrompt: 'scene' }];\n  return {\n    number: i + 1,\n    text: page.text || `Seite ${i + 1}`,\n    panels: panels.map((p, j) => ({\n      panelIndex: j,\n      imagePrompt: p.imagePrompt || p.description || 'scene'\n    }))\n  };\n});\n\n// Calculate total images\nconst totalImages = outline.pages.reduce((sum, p) => sum + p.panels.length, 0);\n\nconsole.log('📊 Total images to generate:', totalImages);\n\nreturn [{\n  json: {\n    ...setup,\n    outline: outline,\n    characterDescription: characterDescription,\n    totalImages: totalImages\n  }\n}];"},"id":"304f6db6-3e95-4978-ad6c-d194a7909a44","name":"Parse Outline2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,816]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const setup = $('Setup2').first().json;\n  const config = setup.config;\n  const language = setup.language || 'en';\n  const languageName = setup.languageName || 'English';\n  \n  // German prompt for best German quality\n  const systemPromptDE = `Du bist ein professioneller Bilderbuch-Autor und Designer. Deine Aufgabe ist es, detaillierte Bilderbuch-Strukturen mit KONSISTENTEN Charakteren zu erstellen.\n\nDu bekommst vom User Informationen zum Buch und sollst eine vollständige JSON-Struktur zurückgeben.\n\nWICHTIGE ANFORDERUNGEN:\n\n1. CHARACTER CONSISTENCY (ENGLISCH!):\n   - Erstelle ZUERST eine sehr detaillierte \"characterDescription\" auf ENGLISCH\n   - Beschreibe ALLE Hauptcharaktere mit:\n     * Spezies/Art (z.B. \"small blue dragon\", \"young girl\", \"friendly bear\")\n     * Körperliche Merkmale (Größe, Proportionen, Körperbau)\n     * Gesicht (Augenfarbe, Augenform, Nase, Mund, Gesichtsform)\n     * Haare/Fell (Farbe, Textur, Frisur)\n     * Kleidung (detailliert: Farben, Stil, Muster)\n     * Besondere Merkmale (Brille, Accessoires, Narben, etc.)\n   - Diese Beschreibung wird bei JEDEM Bild verwendet für maximale Konsistenz!\n\n2. PANEL-ANZAHL PRO SEITE: 1-4 Panels je nach Szene\n\n3. IMAGE PROMPTS: NUR Szene/Aktion beschreiben, KEINE Charaktere\n\n4. SEITENTEXT: Kurze, kindgerechte Texte (max 50 Wörter)\n\nJSON STRUKTUR:\n{\n  \"bookSummary\": \"Zusammenfassung (2-3 Sätze)\",\n  \"characterDescription\": \"Detaillierte Charakterbeschreibung auf ENGLISCH\",\n  \"pages\": [{ \"number\": 1, \"text\": \"Seitentext\", \"panels\": [{ \"panelIndex\": 0, \"imagePrompt\": \"Scene only\" }] }]\n}\n\nAntworte NUR mit gültigem JSON!`;\n\n  // Generic English prompt for all other languages\n  const systemPromptEN = `You are a professional picture book author and designer. Create detailed picture book structures with CONSISTENT characters.\n\n**IMPORTANT: All page text (\"text\" field) must be written in ${languageName}.**\n\nREQUIREMENTS:\n\n1. CHARACTER CONSISTENCY (ENGLISH!):\n   - Create a detailed \"characterDescription\" in ENGLISH\n   - Describe ALL main characters with: species, physical features, face, hair/fur, clothing, special features\n   - This description is used for EVERY image for consistency!\n\n2. PANELS PER PAGE: 1-4 panels depending on scene\n\n3. IMAGE PROMPTS: Describe ONLY scene/action, NO characters (always in English)\n\n4. PAGE TEXT: Short, age-appropriate text (max 50 words) - **MUST BE IN ${languageName}**\n\nJSON STRUCTURE:\n{\n  \"bookSummary\": \"Summary in ${languageName} (2-3 sentences)\",\n  \"characterDescription\": \"Detailed character description in ENGLISH\",\n  \"pages\": [{ \"number\": 1, \"text\": \"Page text IN ${languageName}\", \"panels\": [{ \"panelIndex\": 0, \"imagePrompt\": \"Scene description in English\" }] }]\n}\n\nRespond ONLY with valid JSON!`;\n\n  const systemPrompt = language === 'de' ? systemPromptDE : systemPromptEN;\n\n  const userPromptDE = `Erstelle eine Bilderbuch-Struktur:\n\n- Titel: \"${config.title}\"\n- Genre: ${config.genre || 'Kinderbuch'}\n- Beschreibung: ${config.description || 'Ein spannendes Abenteuer'}\n- Hauptcharaktere: ${config.mainCharacters || 'Nicht angegeben'}\n- Schauplatz: ${config.setting || 'Nicht angegeben'}\n- Zielgruppe: ${config.targetAudience || 'Kinder 4-8 Jahre'}\n- Bildstil: ${config.imageStyle || 'Illustration'}\n- Ton: ${config.tone || 'kindgerecht'}\n- Anzahl Seiten: ${setup.totalPages}`;\n\n  const userPromptEN = `Create a picture book structure:\n\n**IMPORTANT: Write all page text in ${languageName}!**\n\n- Title: \"${config.title}\"\n- Genre: ${config.genre || 'Children\\'s book'}\n- Description: ${config.description || 'An exciting adventure'}\n- Main Characters: ${config.mainCharacters || 'Not specified'}\n- Setting: ${config.setting || 'Not specified'}\n- Target Audience: ${config.targetAudience || 'Children 4-8 years'}\n- Art Style: ${config.imageStyle || 'Illustration'}\n- Tone: ${config.tone || 'child-friendly'}\n- Number of Pages: ${setup.totalPages}\n\nRemember: Page text must be in ${languageName}!`;\n\n  const userPrompt = language === 'de' ? userPromptDE : userPromptEN;\n\n  return JSON.stringify({\n    model: 'gpt-4o',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    response_format: { type: 'json_object' },\n    temperature: 0.9,\n    max_tokens: 8000\n  });\n})() }}","options":{"timeout":120000}},"id":"b36a86da-2539-4567-8a10-3fd9a530e205","name":"Generate Outline (GPT-4o)2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,816],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}}},{"parameters":{"method":"POST","url":"={{ $json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', progress: 5, currentStep: $json.messages.starting }) }}","options":{"timeout":120000}},"id":"6a33433b-1844-46ad-8573-b3812c0e4d4f","name":"Status: Start2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,816],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nif (!body.jobId || !body.bookId || !body.config) {\n  throw new Error('Missing required fields: jobId, bookId, config');\n}\n\nlet callbackUrl = body.callbackUrl || '';\nif (!callbackUrl.startsWith('http')) {\n  callbackUrl = 'https://' + callbackUrl;\n}\n\nconst webhookSecret = 'Bookcraft2025vonBeyerdigital!1234321';\n\n// Supabase Storage Credentials\nconst supabaseUrl = 'https://vpqxgzcwsilqbfnlwszc.supabase.co';\nconst supabaseServiceKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwcXhnemN3c2lscWJmbmx3c3pjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODAxNDc4MywiZXhwIjoyMDczNTkwNzgzfQ.9chQEaF4-3fzdLRzGzF_gBzPiWvLlcge4PULcR5KA2o';\nconst storageBucket = 'picturebook-images';\n\n// Multilingual support\nconst language = body.config.language || 'en';\nconst languageNames = {\n  en: 'English', de: 'German (Deutsch)', es: 'Spanish (Español)',\n  fr: 'French (Français)', it: 'Italian (Italiano)', pt: 'Portuguese (Português)',\n  nl: 'Dutch (Nederlands)', pl: 'Polish (Polski)', ru: 'Russian (Русский)',\n  ja: 'Japanese (日本語)', ko: 'Korean (한국어)', zh: 'Chinese (中文)',\n  ar: 'Arabic (العربية)', tr: 'Turkish (Türkçe)', hi: 'Hindi (हिन्दी)',\n  sv: 'Swedish (Svenska)', da: 'Danish (Dansk)', no: 'Norwegian (Norsk)',\n  fi: 'Finnish (Suomi)', cs: 'Czech (Čeština)', el: 'Greek (Ελληνικά)',\n  he: 'Hebrew (עברית)', id: 'Indonesian (Bahasa Indonesia)',\n  th: 'Thai (ไทย)', vi: 'Vietnamese (Tiếng Việt)'\n};\nconst languageName = languageNames[language] || 'English';\n\n// Status messages by language\nconst messages = language === 'de' ? {\n  starting: 'Starte Bilderbuch-Generierung...',\n  structureCreated: 'Buchstruktur erstellt - Starte Bildgenerierung...',\n  generatingCover: 'Generiere Buchcover...',\n  coverComplete: 'Buchcover fertig!',\n  imageOf: 'Bild {current} von {total}',\n  imageGenerating: 'Bild {current} von {total} wird generiert...',\n  imageDone: 'Bild {current} von {total} fertig!',\n  bookComplete: 'Dein Bilderbuch ist fertig!'\n} : {\n  starting: 'Starting picture book generation...',\n  structureCreated: 'Book structure created - Starting image generation...',\n  generatingCover: 'Generating book cover...',\n  coverComplete: 'Book cover complete!',\n  imageOf: 'Image {current} of {total}',\n  imageGenerating: 'Generating image {current} of {total}...',\n  imageDone: 'Image {current} of {total} complete!',\n  bookComplete: 'Your picture book is ready!'\n};\n\nif (!supabaseServiceKey) {\n  console.warn('⚠️ SUPABASE_SERVICE_ROLE_KEY not set - images will be stored as Base64');\n}\n\n// Reference Image Support\n// Supports multiple input formats:\n// 1. body.referenceImage.base64 + body.referenceImage.mode (structured)\n// 2. body.config.referenceImageBase64 (from frontend generate-with-reference)\n// Mode: 'style' = analyze style and create new images, 'edit' = edit the reference image directly\nconst refImage = body.referenceImage || null;\nlet referenceImageBase64 = refImage ? refImage.base64 : null;\nlet referenceImageMode = refImage ? (refImage.mode || 'style') : null;\n\n// Fallback: check config for reference image (frontend sends it here)\nif (!referenceImageBase64 && body.config && body.config.referenceImageBase64) {\n  referenceImageBase64 = body.config.referenceImageBase64;\n  referenceImageMode = body.config.referenceImageMode || 'style';\n}\n\nconst hasReferenceImage = !!referenceImageBase64;\n\nif (hasReferenceImage) {\n  console.log('📸 Reference image provided');\n  console.log('├─ Mode:', referenceImageMode);\n  console.log('└─ Base64 length:', referenceImageBase64.length);\n}\n\nreturn [{\n  json: {\n    jobId: body.jobId,\n    bookId: body.bookId,\n    userId: body.userId,\n    config: body.config,\n    callbackUrl: callbackUrl,\n    webhookSecret: webhookSecret,\n    totalPages: body.config.totalPages || 12,\n    supabaseUrl: supabaseUrl,\n    supabaseServiceKey: supabaseServiceKey,\n    storageBucket: storageBucket,\n    language: language,\n    languageName: languageName,\n    messages: messages,\n    // Reference image data\n    referenceImageBase64: referenceImageBase64,\n    referenceImageMode: referenceImageMode,\n    hasReferenceImage: hasReferenceImage\n  }\n}];"},"id":"17eb270b-c071-4904-b8fa-93ed81e882e3","name":"Setup2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,816]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, executionId: $execution.id, jobId: $json.body.jobId, bookId: $json.body.bookId }) }}","options":{}},"id":"1800abe7-91e6-4bf4-b009-c899c7ca7365","name":"Response2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,816]},{"parameters":{"httpMethod":"POST","path":"picturebook-generation-start","responseMode":"responseNode","options":{}},"id":"985ae935-3e26-4f7e-92fb-b76941a280c2","name":"Webhook2","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[736,816],"webhookId":"picturebook-generation-start"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-image-1.5', prompt: $json.finalPrompt, size: '1024x1024', quality: 'high', n: 1 }) }}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5776,812],"id":"72703ee5-e134-46e9-ac1d-2f6d2610e610","name":"Generate Image (GPT-1.5 Primary)","credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"591b79a6-0dba-4c3c-97f1-e5588c907188","leftValue":"={{ JSON.stringify($json) }}","rightValue":"error","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"rate-limit-check","leftValue":"={{ JSON.stringify($json) }}","rightValue":"rate_limit","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"content-policy-check","leftValue":"={{ JSON.stringify($json) }}","rightValue":"content_policy","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5888,1008],"id":"5de862c2-271e-43ae-b9ab-6dc2303fcd1c","name":"Check GPT-1.5 Error"},{"parameters":{"jsCode":"// Prepare DALL-E 3 Fallback Request\nconst panel = $('Loop Images2').first().json;\nconst prompt = panel.finalPrompt || panel.imagePrompt || 'illustration';\n\nconsole.log('⚠️ GPT-Image-1.5 failed, trying DALL-E 3 fallback...');\nconsole.log('📝 Prompt:', prompt.substring(0, 100) + '...');\n\nreturn [{\n  json: {\n    ...panel,\n    currentProvider: 'dall-e-3',\n    finalPrompt: prompt\n  }\n}];"},"id":"f3d3d72a-e3fa-4a5a-add0-12712f2de37c","name":"Prepare DALL-E 3 Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,928]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.finalPrompt, size: '1024x1024', quality: 'standard', n: 1 }) }}","options":{"timeout":120000}},"id":"adfa928a-772c-4508-8a62-fcff59787cde","name":"Generate Image (DALL-E 3 Fallback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6336,928],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"gpt-error-check","leftValue":"={{ $json.error ? 'true' : 'false' }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6560,976],"id":"8f3e85a7-0b71-409e-97d9-00003bf3c38a","name":"Check GPT-Image-1 Error1"},{"parameters":{"jsCode":"// Prepare DALL-E 3 Fallback Request\nconst panel = $('Loop Images2').first().json;\nconst prompt = panel.finalPrompt || panel.imagePrompt || 'illustration';\n\nconsole.log('⚠️ GPT-Image-1 failed, trying DALL-E 3 fallback...');\nconsole.log('📝 Prompt:', prompt.substring(0, 100) + '...');\n\nreturn [{\n  json: {\n    ...panel,\n    currentProvider: 'dall-e-3',\n    finalPrompt: prompt\n  }\n}];"},"id":"029085bc-8905-4b8d-895d-66a45c7985c6","name":"Prepare DALL-E ","type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,1056]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.finalPrompt, size: '1024x1024', quality: 'standard', n: 1 }) }}","options":{"timeout":120000}},"id":"e64ed871-d3dd-4cf6-820a-172c1134003c","name":"Generate Image (DALL-E 3)1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7008,1056],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"dalle-error-check","leftValue":"={{ $json.error ? 'true' : 'false' }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[7232,1056],"id":"96e3ca1b-0ab1-47bb-9601-2174b79f95d6","name":"Check DALL-E 3 Error1"},{"parameters":{"jsCode":"// Skip this image - all providers failed\nconst panel = $('Loop Images2').first().json;\n\nconsole.error('❌ All image providers failed for image', panel.imageIndex + 1);\nconsole.error('Skipping this image and continuing with next...');\n\n// Return empty to continue loop without this image\nreturn [{\n  json: {\n    ...panel,\n    skipped: true,\n    skipReason: 'All image providers failed (Gemini, GPT-Image-1, DALL-E 3)'\n  }\n}];"},"id":"7fdc37ab-5a30-4fe3-b7d9-3ccef5344f93","name":"Skip Failed Image1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7456,1168]},{"parameters":{"jsCode":"// Parse OpenAI Image Response (GPT-Image-1 or DALL-E 3)\nconst response = $input.first().json;\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\n\nlet imageBase64 = '';\nlet imageUrl = '';\n\ntry {\n  // OpenAI returns either b64_json or url\n  if (response.data?.[0]?.b64_json) {\n    imageBase64 = response.data[0].b64_json;\n    console.log('✅ Got Base64 image from OpenAI');\n  } else if (response.data?.[0]?.url) {\n    // We have a URL - we'll need to download it\n    imageUrl = response.data[0].url;\n    console.log('✅ Got URL image from OpenAI:', imageUrl.substring(0, 50) + '...');\n  } else {\n    throw new Error('No image data in OpenAI response');\n  }\n} catch (error) {\n  console.error('❌ Failed to parse OpenAI response:', error);\n  throw error;\n}\n\n// Create storage path\nconst storagePath = `${panel.userId || setup.userId || 'anonymous'}/${panel.bookId || setup.bookId}/page-${panel.pageIndex}-panel-${panel.panelIndex}.png`;\n\n// Create final public URL\nconst finalImageUrl = `${panel.supabaseUrl || setup.supabaseUrl}/storage/v1/object/public/${panel.storageBucket || setup.storageBucket}/${storagePath}`;\n\nconsole.log('📁 Storage Path:', storagePath);\nconsole.log('🔗 Final Image URL:', finalImageUrl);\n\nreturn [{\n  json: {\n    ...panel,\n    storagePath: storagePath,\n    imageUrl: finalImageUrl,\n    imageBase64: imageBase64,\n    tempImageUrl: imageUrl,\n    supabaseUrl: panel.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: panel.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: panel.storageBucket || setup.storageBucket\n  }\n}];"},"id":"987b622d-3359-4eae-b4ec-ec5780417572","name":"Parse OpenAI Image1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7456,880]},{"parameters":{"jsCode":"// Convert Base64 to Binary for Supabase Upload\nconst data = $input.first().json;\n\nif (data.imageBase64) {\n  // We have Base64 - convert to binary\n  const binaryData = Buffer.from(data.imageBase64, 'base64');\n  \n  return [{\n    json: data,\n    binary: {\n      data: {\n        data: data.imageBase64,\n        mimeType: 'image/png',\n        fileName: `page-${data.pageIndex}-panel-${data.panelIndex}.png`\n      }\n    }\n  }];\n} else if (data.tempImageUrl) {\n  // We have a URL - pass it through, will need HTTP Request to download\n  console.log('⚠️ Need to download image from URL');\n  return [{ json: { ...data, needsDownload: true } }];\n}\n\nthrow new Error('No image data available');"},"id":"f6b64ff8-b0bd-46ca-aade-7b35b1e34dca","name":"Convert to Binary1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7680,880]},{"parameters":{"jsCode":"// Parse Image - Verarbeite die Bildgenerierung und bereite Upload vor\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nconst response = $input.first().json;\n\n// Erstelle Storage Path\nconst storagePath = `${panel.userId || setup.userId || 'anonymous'}/${panel.bookId || setup.bookId}/page-${panel.pageIndex}-panel-${panel.panelIndex}.png`;\n\n// Erstelle die finale Image URL (Supabase Public URL)\nconst imageUrl = `${panel.supabaseUrl || setup.supabaseUrl}/storage/v1/object/public/${panel.storageBucket || setup.storageBucket}/${storagePath}`;\n\n// Extract base64 from OpenAI GPT Image 1.5 response\nlet imageBase64 = '';\nif (response.data && response.data[0]) {\n  imageBase64 = response.data[0].b64_json || '';\n}\n\nconsole.log('✅ Parse Image (GPT-1.5):', panel.imageIndex + 1, '/', panel.totalImages);\nconsole.log('📁 Storage Path:', storagePath);\nconsole.log('🔗 Image URL:', imageUrl);\nconsole.log('📊 Base64 length:', imageBase64.length);\n\n// Konvertiere Base64 zu Binary\nlet binaryData = {};\nif (imageBase64) {\n  binaryData = {\n    data: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: `page-${panel.pageIndex}-panel-${panel.panelIndex}.png`\n    }\n  };\n}\n\n// Gib alle Daten weiter, die die nachfolgenden Nodes brauchen\nreturn [{\n  json: {\n    ...panel,\n    storagePath: storagePath,\n    imageUrl: imageUrl,\n    currentProvider: 'gpt-image-1.5',\n    supabaseUrl: panel.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: panel.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: panel.storageBucket || setup.storageBucket,\n    imageBase64: imageBase64\n  },\n  binary: binaryData\n}];"},"id":"7da4502d-b01a-4175-855d-1837e16347de","name":"Parse Image2","type":"n8n-nodes-base.code","typeVersion":2,"position":[7680,640]},{"parameters":{"jsCode":"// Prepare Cover Generation Request\n// This runs FIRST before page images for immediate visual feedback\nconst data = $input.first().json;\nconst setup = $('Setup2').first().json;\n\nconst config = data.config || setup.config;\nconst title = config.title || 'Untitled Book';\nconst genre = config.genre || 'Children\\'s book';\nconst description = config.description || '';\nconst characterDescription = data.characterDescription || config.mainCharacters || '';\nconst visualStyle = config.imageStyle || 'illustration';\n\n// Build the cover generation prompt\nconst coverPrompt = `Create a ${visualStyle} artwork for a book titled \"${title}\".\n\nCRITICAL REQUIREMENTS:\n- Generate ONLY the front cover artwork as a FLAT, 2D image\n- NO 3D book rendering, NO book spine, NO book edges\n- The entire image should be filled with the cover artwork edge-to-edge\n\nCHARACTER CONSISTENCY (use these exact descriptions):\n${characterDescription}\n\nGenre: ${genre}\nDescription: ${description}\n\nInclude the book title \"${title}\" in elegant, readable typography that fits the ${visualStyle} style.`;\n\nconsole.log('📕 Preparing cover generation...');\nconsole.log('📝 Cover Prompt:', coverPrompt.substring(0, 300) + '...');\n\n// Create storage path for cover\nconst userId = data.userId || setup.userId || 'anonymous';\nconst bookId = data.bookId || setup.bookId;\nconst storagePath = `${userId}/${bookId}/cover.png`;\n\nreturn [{\n  json: {\n    ...data,\n    coverPrompt: coverPrompt,\n    coverStoragePath: storagePath,\n    isCover: true,\n    supabaseUrl: data.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: data.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: data.storageBucket || setup.storageBucket\n  }\n}];"},"id":"1a948995-332f-4ed9-a8f7-d74b0a79279f","name":"Prepare Cover Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,816]},{"parameters":{"method":"POST","url":"={{ $json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', progress: 7, currentStep: $('Setup2').first().json.messages.generatingCover }) }}","options":{"timeout":120000}},"id":"49da1529-5d45-4cb0-ad34-053f1ac7c574","name":"Status: Generating Cover","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,816],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-image-1.5', prompt: $json.coverPrompt, size: '1024x1536', quality: 'high', n: 1 }) }}","options":{"timeout":180000}},"id":"c00be82c-fcdd-45ec-a03c-29c7b849b21d","name":"Generate Cover (GPT-1.5)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2752,816],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cover-error-check","leftValue":"={{ JSON.stringify($json) }}","rightValue":"error","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2976,816],"id":"514ba7f7-0b3e-4de6-a516-ab0873a2cfbb","name":"Check Cover Error"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'dall-e-3', prompt: $('Prepare Cover Request').first().json.coverPrompt, size: '1024x1792', quality: 'hd', n: 1 }) }}","options":{"timeout":180000}},"id":"e9db46c7-1ba1-4787-a7a6-39645ea9fa2e","name":"Generate Cover (DALL-E 3 Fallback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,736],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Parse Cover Image Response\nconst response = $input.first().json;\nconst prepData = $('Prepare Cover Request').first().json;\nconst setup = $('Setup2').first().json;\n\nlet imageBase64 = '';\nlet tempImageUrl = '';\n\ntry {\n  // OpenAI returns either b64_json or url\n  if (response.data?.[0]?.b64_json) {\n    imageBase64 = response.data[0].b64_json;\n    console.log('✅ Got Base64 cover image from OpenAI');\n  } else if (response.data?.[0]?.url) {\n    tempImageUrl = response.data[0].url;\n    console.log('✅ Got URL cover image from OpenAI:', tempImageUrl.substring(0, 50) + '...');\n  } else {\n    console.error('❌ No cover image data in response');\n    // Continue without cover - don't block the workflow\n    return [{ json: { ...prepData, coverSkipped: true, skipReason: 'No image data in response' } }];\n  }\n} catch (error) {\n  console.error('❌ Failed to parse cover response:', error);\n  return [{ json: { ...prepData, coverSkipped: true, skipReason: error.message } }];\n}\n\n// Create final public URL\nconst coverUrl = `${prepData.supabaseUrl}/storage/v1/object/public/${prepData.storageBucket}/${prepData.coverStoragePath}`;\n\nconsole.log('📕 Cover Storage Path:', prepData.coverStoragePath);\nconsole.log('🔗 Cover URL:', coverUrl);\n\n// Prepare binary data for upload\nlet binaryData = {};\nif (imageBase64) {\n  binaryData = {\n    data: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: 'cover.png'\n    }\n  };\n}\n\nreturn [{\n  json: {\n    ...prepData,\n    coverUrl: coverUrl,\n    coverImageBase64: imageBase64,\n    coverTempUrl: tempImageUrl,\n    isCover: true,\n    currentProvider: 'gpt-image-1.5'\n  },\n  binary: binaryData\n}];"},"id":"6a053335-fe4b-4b29-8eae-3c49f54f3f16","name":"Parse Cover Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,816]},{"parameters":{"method":"PUT","url":"={{ $json.supabaseUrl }}/storage/v1/object/{{ $json.storageBucket }}/{{ $json.coverStoragePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.supabaseServiceKey }}"},{"name":"Content-Type","value":"image/png"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"timeout":120000}},"id":"384d9628-2214-4e24-a9f5-38b459c0ec7f","name":"Upload Cover to Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3648,816],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('Prepare Cover Request').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Prepare Cover Request').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Prepare Cover Request').first().json.jobId, status: 'processing', progress: 9, currentStep: $('Setup2').first().json.messages.coverComplete, coverUrl: $('Parse Cover Image').first().json.coverUrl }) }}","options":{"timeout":120000}},"id":"0500d6a0-34ca-4b0f-bf6c-c300a0a405f1","name":"Send Cover Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3872,816],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Continue to page image generation after cover is done\nconst prepData = $('Prepare Cover Request').first().json;\n\nconsole.log('📕 Cover generation complete, continuing to page images...');\n\nreturn [{ json: prepData }];"},"id":"abd33bd7-2063-4f9c-a138-c55da0050403","name":"Continue After Cover","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,816]},{"parameters":{"jsCode":"// Skip cover generation - error occurred\nconst prepData = $('Prepare Cover Request').first().json;\n\nconsole.warn('⚠️ Cover generation failed, continuing without cover...');\n\nreturn [{ json: { ...prepData, coverSkipped: true } }];"},"id":"4abdfbab-8a33-411a-97b4-80caa593d261","name":"Skip Cover (Error)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,1008]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"ref-image-check","leftValue":"={{ $json.hasReferenceImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5552,912],"id":"if-ref-image-001","name":"Check Reference Image"},{"parameters":{"jsCode":"// Convert base64 reference image to binary for multipart upload\nconst panel = $input.first().json;\n\nconst refImageBase64 = panel.referenceImageBase64;\nif (!refImageBase64) {\n  throw new Error('No reference image base64 data found');\n}\n\n// Clean base64 (remove data URI prefix if present)\nlet cleanBase64 = refImageBase64;\nif (cleanBase64.startsWith('data:')) {\n  cleanBase64 = cleanBase64.split(',')[1];\n}\n\n// Convert to binary buffer\nconst binaryData = Buffer.from(cleanBase64, 'base64');\n\n// Return with binary data attached\nreturn [{\n  json: {\n    ...panel\n  },\n  binary: {\n    referenceImage: {\n      data: binaryData.toString('base64'),\n      mimeType: 'image/png',\n      fileName: 'reference.png',\n      fileSize: binaryData.length,\n      fileExtension: 'png'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5664,1112],"id":"convert-ref-img-001","name":"Convert Ref Image to Binary"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/edits","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"referenceImage"},{"parameterType":"formData","name":"prompt","value":"={{ $json.finalPrompt }}"},{"parameterType":"formData","name":"model","value":"gpt-image-1.5"},{"parameterType":"formData","name":"size","value":"1024x1024"},{"parameterType":"formData","name":"quality","value":"high"},{"parameterType":"formData","name":"n","value":"1"}]},"options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5888,1112],"id":"edit-api-001","name":"Generate Image (Edit API)","credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Parse Edit API Image response - same format as generations\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nconst response = $input.first().json;\n\nconst storagePath = `${panel.userId || setup.userId || 'anonymous'}/${panel.bookId || setup.bookId}/page-${panel.pageIndex}-panel-${panel.panelIndex}.png`;\nconst imageUrl = `${panel.supabaseUrl || setup.supabaseUrl}/storage/v1/object/public/${panel.storageBucket || setup.storageBucket}/${storagePath}`;\n\nlet imageBase64 = '';\nif (response.data && response.data[0]) {\n  imageBase64 = response.data[0].b64_json || '';\n}\n\nconsole.log('✅ Parse Edit API Image:', panel.imageIndex + 1, '/', panel.totalImages);\nconsole.log('📁 Storage Path:', storagePath);\nconsole.log('🎨 Used Reference Image: YES (Edit API)');\nconsole.log('📊 Base64 length:', imageBase64.length);\n\nlet binaryData = {};\nif (imageBase64) {\n  binaryData = {\n    data: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: `page-${panel.pageIndex}-panel-${panel.panelIndex}.png`\n    }\n  };\n}\n\nreturn [{\n  json: {\n    ...panel,\n    storagePath: storagePath,\n    imageUrl: imageUrl,\n    currentProvider: 'gpt-image-1.5-edit',\n    supabaseUrl: panel.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: panel.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: panel.storageBucket || setup.storageBucket,\n    imageBase64: imageBase64\n  },\n  binary: binaryData\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,1112],"id":"parse-edit-img-001","name":"Parse Edit API Image"},{"parameters":{"jsCode":"// If Edit API failed, log and route to standard generation fallback\nconst error = $input.first().json;\nconsole.log('⚠️ Edit API failed, falling back to standard generation');\nconsole.log('Error:', JSON.stringify(error).substring(0, 500));\n\n// Pass through to standard generation (without reference image)\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nreturn [{\n  json: {\n    ...panel,\n    ...($('Check Reference Image').first().json),\n    hasReferenceImage: false,\n    editApiFailed: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,1312],"id":"check-edit-error-001","name":"Check Edit API Error"}],"connections":{"Log Provider Usage":{"main":[[{"node":"Upload to Supabase Storage2","type":"main","index":0}]]},"Complete Book2":{"main":[[{"node":"Status: Complete2","type":"main","index":0}]]},"Complete Job2":{"main":[[{"node":"Complete Book2","type":"main","index":0}]]},"Continue Loop2":{"main":[[{"node":"Loop Images2","type":"main","index":0}]]},"Send Image Update2":{"main":[[{"node":"Continue Loop2","type":"main","index":0}]]},"Upload to Supabase Storage2":{"main":[[{"node":"Send Image Update2","type":"main","index":0}]]},"Prepare Imagen Request2":{"main":[[{"node":"Check Reference Image","type":"main","index":0}]]},"Wait 2s2":{"main":[[{"node":"Prepare Imagen Request2","type":"main","index":0}]]},"Heartbeat2":{"main":[[{"node":"Wait 2s2","type":"main","index":0}]]},"Status: Generating Image2":{"main":[[{"node":"Heartbeat2","type":"main","index":0}]]},"Loop Images2":{"main":[[{"node":"Complete Job2","type":"main","index":0}],[{"node":"Status: Generating Image2","type":"main","index":0}]]},"Flatten All Panels2":{"main":[[{"node":"Loop Images2","type":"main","index":0}]]},"Status: Outline Done2":{"main":[[{"node":"Prepare Cover Request","type":"main","index":0}]]},"Parse Outline2":{"main":[[{"node":"Status: Outline Done2","type":"main","index":0}]]},"Generate Outline (GPT-4o)2":{"main":[[{"node":"Parse Outline2","type":"main","index":0}]]},"Status: Start2":{"main":[[{"node":"Generate Outline (GPT-4o)2","type":"main","index":0}]]},"Setup2":{"main":[[{"node":"Status: Start2","type":"main","index":0}]]},"Response2":{"main":[[{"node":"Setup2","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Response2","type":"main","index":0}]]},"Generate Image (GPT-1.5 Primary)":{"main":[[{"node":"Parse Image2","type":"main","index":0}],[{"node":"Check GPT-1.5 Error","type":"main","index":0}]]},"Check GPT-1.5 Error":{"main":[[{"node":"Prepare DALL-E 3 Fallback","type":"main","index":0}],[{"node":"Skip Failed Image1","type":"main","index":0}]]},"Prepare DALL-E 3 Fallback":{"main":[[{"node":"Generate Image (DALL-E 3 Fallback)","type":"main","index":0}]]},"Generate Image (DALL-E 3 Fallback)":{"main":[[{"node":"Parse OpenAI Image1","type":"main","index":0}],[{"node":"Check GPT-Image-1 Error1","type":"main","index":0}]]},"Check GPT-Image-1 Error1":{"main":[[{"node":"Prepare DALL-E ","type":"main","index":0}],[{"node":"Parse OpenAI Image1","type":"main","index":0}]]},"Prepare DALL-E ":{"main":[[{"node":"Generate Image (DALL-E 3)1","type":"main","index":0}]]},"Generate Image (DALL-E 3)1":{"main":[[{"node":"Check DALL-E 3 Error1","type":"main","index":0}],[{"node":"Check DALL-E 3 Error1","type":"main","index":0}]]},"Check DALL-E 3 Error1":{"main":[[{"node":"Skip Failed Image1","type":"main","index":0}],[{"node":"Parse OpenAI Image1","type":"main","index":0}]]},"Skip Failed Image1":{"main":[[{"node":"Continue Loop2","type":"main","index":0}]]},"Parse OpenAI Image1":{"main":[[{"node":"Convert to Binary1","type":"main","index":0}]]},"Convert to Binary1":{"main":[[{"node":"Log Provider Usage","type":"main","index":0}]]},"Parse Image2":{"main":[[{"node":"Log Provider Usage","type":"main","index":0}]]},"Prepare Cover Request":{"main":[[{"node":"Status: Generating Cover","type":"main","index":0}]]},"Status: Generating Cover":{"main":[[{"node":"Generate Cover (GPT-1.5)","type":"main","index":0}]]},"Generate Cover (GPT-1.5)":{"main":[[{"node":"Check Cover Error","type":"main","index":0}],[{"node":"Check Cover Error","type":"main","index":0}]]},"Check Cover Error":{"main":[[{"node":"Generate Cover (DALL-E 3 Fallback)","type":"main","index":0}],[{"node":"Parse Cover Image","type":"main","index":0}]]},"Generate Cover (DALL-E 3 Fallback)":{"main":[[{"node":"Parse Cover Image","type":"main","index":0}]]},"Parse Cover Image":{"main":[[{"node":"Upload Cover to Storage","type":"main","index":0}]]},"Upload Cover to Storage":{"main":[[{"node":"Send Cover Update","type":"main","index":0}]]},"Send Cover Update":{"main":[[{"node":"Continue After Cover","type":"main","index":0}]]},"Continue After Cover":{"main":[[{"node":"Flatten All Panels2","type":"main","index":0}]]},"Skip Cover (Error)":{"main":[[{"node":"Flatten All Panels2","type":"main","index":0}]]},"Check Reference Image":{"main":[[{"node":"Convert Ref Image to Binary","type":"main","index":0}],[{"node":"Generate Image (GPT-1.5 Primary)","type":"main","index":0}]]},"Convert Ref Image to Binary":{"main":[[{"node":"Generate Image (Edit API)","type":"main","index":0}]]},"Generate Image (Edit API)":{"main":[[{"node":"Parse Edit API Image","type":"main","index":0}],[{"node":"Check Edit API Error","type":"main","index":0}]]},"Parse Edit API Image":{"main":[[{"node":"Log Provider Usage","type":"main","index":0}]]},"Check Edit API Error":{"main":[[{"node":"Generate Image (GPT-1.5 Primary)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook2":[{"json":{"headers":{"host":"n8n.beyerdigital.de","user-agent":"node","content-length":"1464","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"98.88.254.6","cf-ipcountry":"US","cf-ray":"9ae9cc39bd69da37-IAD","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","sec-fetch-mode":"cors","x-forwarded-for":"162.158.152.207","x-forwarded-host":"n8n.beyerdigital.de","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fe0481743b5d","x-n8n-webhook-secret":"Bookcraft2025vonBeyerdigital!1234321","x-real-ip":"162.158.152.207","x-vercel-id":"fra1::v5bzf-1765842148821-a29592ef6512"},"params":{},"query":{},"body":{"jobId":"d2012905-41a6-423e-9749-60c0c0ac92e8","userId":"7a391560-198d-418d-9b44-0cd110221d49","bookId":"3519cb1f-29d3-4afc-b311-1fb4f83ee3d1","config":{"title":"Mein Fernseher geht nicht!","genre":"Abenteuer","targetAudience":"Erwachsene","description":"Ein kleiner Junge entdeckt, dass sein Fernseher kaputt ist und begibt sich auf ein spannendes Abenteuer, um ihn zu reparieren. Auf seiner Reise lernt er, dass es viele andere Möglichkeiten gibt, Spaß zu haben und mit Freunden zu spielen.","bookType":"picture","totalPages":8,"imageStyle":"realistic","tone":"Fröhlich","mainCharacters":"Leo, ein neugieriger und einfallsreicher Junge; Max, sein treuer Hund, der ihn auf seinem Abenteuer begleitet; und Emma, die freundliche Nachbarin, die kreative Ideen hat.","setting":"In Leos gemütlichem Zuhause und im bunten Stadtpark.","plotOutline":"Leo wacht auf und entdeckt, dass sein Fernseher nicht funktioniert. Zuerst ist er enttäuscht, doch dann beschließt er mit Max, Abenteuer im Freien zu erleben. Sie treffen Emma, die Leo zeigt, wie viel Spaß es macht, draußen zu spielen und neue Spiele zu erfinden. Am Ende sind Leo und Max glücklich, dass sie neue Freunde gefunden haben und viel mehr Spaß außerhalb des Fernsehens hatten.","themes":["Freundschaft","Entdeckungsfreude","Kreativität","Aktiv sein","Spaß im Freien"],"customPrompt":"","bookId":"3519cb1f-29d3-4afc-b311-1fb4f83ee3d1"},"callbackUrl":"bookcraft.dev/api/webhooks/n8n/book-status"},"webhookUrl":"https://n8n.beyerdigital.de/webhook/picturebook-generation-start","executionMode":"production"}}]},"versionId":"5689b2c5-bb28-4ae1-ab05-b4b3c7f03189","activeVersionId":"5689b2c5-bb28-4ae1-ab05-b4b3c7f03189","versionCounter":96,"triggerCount":1,"shared":[{"updatedAt":"2025-12-15T21:46:11.678Z","createdAt":"2025-12-15T21:46:11.678Z","role":"workflow:owner","workflowId":"1GgD7oHDSv7BRpcc","projectId":"VheVdr0zEkyz8k7q","project":{"updatedAt":"2025-10-17T19:52:54.343Z","createdAt":"2025-10-17T19:45:16.313Z","id":"VheVdr0zEkyz8k7q","name":"Julien Beyer <julienbeyer@outlook.com>","type":"personal","icon":null,"description":null,"creatorId":"1c33990f-ed15-4131-9307-2f081560bac0","projectRelations":[{"updatedAt":"2025-10-17T19:45:16.313Z","createdAt":"2025-10-17T19:45:16.313Z","userId":"1c33990f-ed15-4131-9307-2f081560bac0","projectId":"VheVdr0zEkyz8k7q","user":{"updatedAt":"2026-02-14T23:00:12.000Z","createdAt":"2025-10-17T19:45:15.981Z","id":"1c33990f-ed15-4131-9307-2f081560bac0","email":"julienbeyer@outlook.com","firstName":"Julien","lastName":"Beyer","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-17T19:52:58.214Z","personalization_survey_n8n_version":"1.115.3"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"AJK8LBF8xTNEIfxm","userActivatedAt":1761303321194,"npsSurvey":{"responded":true,"lastShownAt":1762430752372}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-14","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-14T23:01:05.730Z","createdAt":"2026-02-14T23:01:05.730Z","versionId":"5689b2c5-bb28-4ae1-ab05-b4b3c7f03189","workflowId":"1GgD7oHDSv7BRpcc","nodes":[{"parameters":{"jsCode":"// Log Provider Usage for Cost Tracking\nconst panel = $input.first().json;\nconst provider = panel.currentProvider || 'gemini';\nconst imageIndex = panel.imageIndex;\nconst bookId = panel.bookId;\nconst isCover = panel.isCover || false;\n\n// Detailed logging for cost tracking and debugging\nconsole.log('═══════════════════════════════════════════');\nconsole.log(`📊 PROVIDER USAGE LOG`);\nconsole.log(`├─ Provider: ${provider.toUpperCase()}`);\nconsole.log(`├─ Book ID: ${bookId}`);\nconsole.log(`├─ Type: ${isCover ? '🖼️ Cover' : '📖 Page Image ' + (imageIndex + 1)}`);\nconsole.log(`├─ Timestamp: ${new Date().toISOString()}`);\nconsole.log('═══════════════════════════════════════════');\n\n// Pass through all data including binary for upload\nreturn [{\n  json: panel,\n  binary: $input.first().binary\n}];"},"id":"5faa420f-0fcf-4d64-96cd-b4c8aa467f7d","name":"Log Provider Usage","type":"n8n-nodes-base.code","typeVersion":2,"position":[7904,736]},{"parameters":{"method":"POST","url":"={{ $('Setup2').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Setup2').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Setup2').first().json.jobId, status: 'completed', progress: 100, currentStep: $('Setup2').first().json.messages.bookComplete }) }}","options":{"timeout":120000}},"id":"c3dc72a1-6019-45e9-91b8-49d50816513f","name":"Status: Complete2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5216,720],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","tableId":"books","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Setup2').first().json.bookId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"6aab45dc-0b57-47cf-b28f-21ae08a7d45d","name":"Complete Book2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4992,720],"credentials":{"supabaseApi":{"id":"Wm3kjJ5eRN503SKq","name":"Bookcraft"}}},{"parameters":{"operation":"update","tableId":"book_generation_jobs","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Setup2').first().json.jobId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"},{"fieldId":"progress","fieldValue":"100"},{"fieldId":"current_step","fieldValue":"={{ $('Setup2').first().json.messages.bookComplete }}"},{"fieldId":"completed_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"last_heartbeat_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"id":"cfc229de-2f23-432b-932f-d4d564468ccf","name":"Complete Job2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4768,720],"credentials":{"supabaseApi":{"id":"Wm3kjJ5eRN503SKq","name":"Bookcraft"}}},{"parameters":{},"id":"3ebb7627-0aa2-4c9b-9726-ea9d16c0f8f6","name":"Continue Loop2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8576,1152]},{"parameters":{"method":"POST","url":"={{ $('Loop Images2').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Loop Images2').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Loop Images2').first().json.jobId, status: 'processing', progress: Math.round(10 + (($('Loop Images2').first().json.imageIndex + 1) / $('Loop Images2').first().json.totalImages) * 85), currentStep: $('Setup2').first().json.messages.imageDone.replace('{current}', $('Loop Images2').first().json.imageIndex + 1).replace('{total}', $('Loop Images2').first().json.totalImages), image: { pageIndex: $('Loop Images2').first().json.pageIndex, panelIndex: $('Loop Images2').first().json.panelIndex, imageUrl: $('Log Provider Usage').first().json.imageUrl || '' } }) }}","options":{"timeout":120000}},"id":"f9b69575-c817-480c-a721-e286bb417f42","name":"Send Image Update2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8352,736],"onError":"continueRegularOutput"},{"parameters":{"method":"PUT","url":"={{ $('Loop Images2').first().json.supabaseUrl }}/storage/v1/object/{{ $('Loop Images2').first().json.storageBucket }}/{{ $input.first().json.storagePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Loop Images2').first().json.supabaseServiceKey }}"},{"name":"Content-Type","value":"image/png"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"timeout":120000}},"id":"37842bcb-4305-4797-a55f-83f624a11f7a","name":"Upload to Supabase Storage2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8128,736],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nconst charDesc = panel.characterDescription || '';\nconst sceneDesc = panel.imagePrompt || 'illustration';\nconst style = panel.config.imageStyle || 'watercolor';\n\n// Reference image support\nconst hasRefImage = panel.hasReferenceImage || setup.hasReferenceImage || false;\nconst refImageMode = panel.referenceImageMode || setup.referenceImageMode || 'style';\nconst refImageBase64 = panel.referenceImageBase64 || setup.referenceImageBase64 || null;\n\n// Build prompt: Characters + Scene + Style\nlet finalPrompt = '';\n\nif (charDesc) {\n  finalPrompt = charDesc + '. Scene: ' + sceneDesc;\n} else {\n  finalPrompt = sceneDesc;\n}\n\n// Handle reference image based on mode\nif (hasRefImage) {\n  if (refImageMode === 'style') {\n    // Style Copy mode: Create new images inspired by the reference style\n    console.log('🎨 Reference Image Mode: STYLE COPY');\n    finalPrompt += `, rendered in the exact same visual style as a provided reference artwork, carefully matching its color palette, brushwork texture, line quality, lighting mood, and artistic technique. ${style} style inspired, children book illustration, consistent character design, high quality, cohesive visual identity`;\n  } else if (refImageMode === 'edit') {\n    // Direct Edit mode: Note that this requires the Edit API endpoint\n    // For now, we add a note - full implementation requires switching to /v1/images/edits\n    console.log('🎨 Reference Image Mode: DIRECT EDIT');\n    console.log('⚠️ Note: Direct Edit mode requires the OpenAI Images Edit API endpoint');\n    finalPrompt += `, ${style} style, children book illustration, consistent character design, high quality, vibrant colors`;\n  }\n} else {\n  finalPrompt += `, ${style} style, children book illustration, consistent character design, high quality, vibrant colors`;\n}\n\n// Keep prompt concise (token limit)\nif (finalPrompt.length > 1500) {\n  finalPrompt = finalPrompt.substring(0, 1500);\n}\n\nconsole.log('🎨 Generating image', panel.imageIndex + 1, 'of', panel.totalImages);\nconsole.log('📸 Has Reference Image:', hasRefImage);\nconsole.log('📸 Reference Mode:', refImageMode);\nconsole.log('📝 Final Prompt:', finalPrompt.substring(0, 200) + '...');\n\nreturn [{\n  json: {\n    ...panel,\n    finalPrompt: finalPrompt,\n    hasReferenceImage: hasRefImage,\n    referenceImageMode: refImageMode,\n    referenceImageBase64: refImageBase64\n  }\n}];"},"id":"69b9b1a7-68e2-4948-a672-f871e48cb353","name":"Prepare Imagen Request2","type":"n8n-nodes-base.code","typeVersion":2,"position":[5328,912]},{"parameters":{"amount":2},"id":"e529f6ae-7dcb-4b93-ad1f-9a6ed56bd0c2","name":"Wait 2s2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5216,912],"webhookId":"31eef76b-a88a-41d7-b558-0aa7a7933266"},{"parameters":{"operation":"update","tableId":"book_generation_jobs","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Images2').first().json.jobId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_heartbeat_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"current_step","fieldValue":"={{ $('Setup2').first().json.messages.imageOf.replace('{current}', $('Loop Images2').first().json.imageIndex + 1).replace('{total}', $('Loop Images2').first().json.totalImages) }}"},{"fieldId":"progress","fieldValue":"={{ Math.round(10 + ($('Loop Images2').first().json.imageIndex / $('Loop Images2').first().json.totalImages) * 85) }}"}]}},"id":"6c8a3a03-2ac9-4b29-a0df-1cb693d9c7d6","name":"Heartbeat2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4992,912],"credentials":{"supabaseApi":{"id":"Wm3kjJ5eRN503SKq","name":"Bookcraft"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('Loop Images2').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Loop Images2').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Loop Images2').first().json.jobId, status: 'processing', progress: Math.round(10 + ($('Loop Images2').first().json.imageIndex / $('Loop Images2').first().json.totalImages) * 85), currentStep: $('Setup2').first().json.messages.imageGenerating.replace('{current}', $('Loop Images2').first().json.imageIndex + 1).replace('{total}', $('Loop Images2').first().json.totalImages) }) }}","options":{"timeout":120000}},"id":"e1b85bfa-bfc8-4cc8-ba94-b1692cee3a02","name":"Status: Generating Image2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4768,912],"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"8c12f9ba-47a4-4e39-97c4-ec26748e2306","name":"Loop Images2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4544,912]},{"parameters":{"jsCode":"const data = $('Parse Outline2').first().json;\nconst setup = $('Setup2').first().json;\nconst allPanels = [];\nlet imageIndex = 0;\n\nconsole.log('📋 Setup data keys:', Object.keys(data).join(', '));\nconsole.log('🔑 Supabase URL present:', !!data.supabaseUrl);\nconsole.log('🌍 Language:', setup.language);\nconsole.log('📸 Has Reference Image:', setup.hasReferenceImage);\nconsole.log('📸 Reference Mode:', setup.referenceImageMode || 'none');\n\nfor (const page of data.outline.pages) {\n  for (const panel of page.panels) {\n    allPanels.push({\n      imageIndex: imageIndex++,\n      pageNumber: page.number,\n      pageIndex: page.number - 1,\n      panelIndex: panel.panelIndex,\n      imagePrompt: panel.imagePrompt,\n      pageText: page.text,\n      characterDescription: data.characterDescription || '',\n      jobId: data.jobId,\n      bookId: data.bookId,\n      userId: data.userId,\n      callbackUrl: data.callbackUrl,\n      webhookSecret: data.webhookSecret,\n      config: data.config,\n      totalImages: data.totalImages,\n      totalPages: data.outline.pages.length,\n      supabaseUrl: data.supabaseUrl,\n      supabaseServiceKey: data.supabaseServiceKey,\n      storageBucket: data.storageBucket,\n      language: setup.language,\n      languageName: setup.languageName,\n      messages: setup.messages,\n      // Reference image data for style transfer or editing\n      hasReferenceImage: setup.hasReferenceImage || false,\n      referenceImageBase64: setup.referenceImageBase64 || null,\n      referenceImageMode: setup.referenceImageMode || null\n    });\n  }\n}\n\nconsole.log('🎨 Prepared', allPanels.length, 'images for generation');\n\nreturn allPanels.map(p => ({ json: p }));"},"id":"c9b420f5-5bca-452e-bfb8-ac651b0868ce","name":"Flatten All Panels2","type":"n8n-nodes-base.code","typeVersion":2,"position":[4320,912]},{"parameters":{"method":"POST","url":"={{ $json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', progress: 10, currentStep: $('Setup2').first().json.messages.structureCreated, pictureBookConfig: { totalPages: $json.outline.pages.length, pages: $json.outline.pages.map(p => ({ pageIndex: p.number - 1, text: p.text, panels: p.panels })) } }) }}","options":{"timeout":120000}},"id":"19506086-5030-4252-a5f6-b468bd2b92a3","name":"Status: Outline Done2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,816],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst setup = $('Setup2').first().json;\n\nlet outline;\nlet characterDescription = '';\n\ntry {\n  let outlineText = '';\n  \n  // Parse OpenAI response structure\n  if (response.choices?.[0]?.message?.content) {\n    outlineText = response.choices[0].message.content;\n  } else if (response.text) {\n    outlineText = response.text;\n  } else if (typeof response === 'string') {\n    outlineText = response;\n  }\n  \n  // Clean up potential markdown code blocks\n  outlineText = outlineText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  outline = JSON.parse(outlineText);\n  characterDescription = outline.characterDescription || '';\n  \n  console.log('✅ GPT-4o Outline parsed successfully');\n  console.log('📝 Character Description:', characterDescription.substring(0, 200) + '...');\n  console.log('📖 Pages:', outline.pages.length);\n} catch (e) {\n  console.error('❌ Failed to parse GPT-4o response:', e);\n  \n  // Fallback structure\n  const fallbackCharacters = setup.config.mainCharacters || 'a character';\n  characterDescription = `Character: ${fallbackCharacters} in ${setup.config.imageStyle || 'illustration'} style`;\n  \n  outline = {\n    bookSummary: setup.config.title,\n    characterDescription: characterDescription,\n    pages: Array.from({ length: setup.totalPages }, (_, i) => ({\n      number: i + 1,\n      text: `Text für Seite ${i + 1}`,\n      panels: [{ panelIndex: 0, imagePrompt: 'scene illustration' }]\n    }))\n  };\n}\n\n// Validate and normalize structure\nif (!outline.pages || outline.pages.length === 0) {\n  outline.pages = Array.from({ length: setup.totalPages }, (_, i) => ({\n    number: i + 1,\n    text: `Seite ${i + 1}`,\n    panels: [{ panelIndex: 0, imagePrompt: 'scene' }]\n  }));\n}\n\n// Normalize pages\noutline.pages = outline.pages.map((page, i) => {\n  const panels = Array.isArray(page.panels) ? page.panels : [{ panelIndex: 0, imagePrompt: 'scene' }];\n  return {\n    number: i + 1,\n    text: page.text || `Seite ${i + 1}`,\n    panels: panels.map((p, j) => ({\n      panelIndex: j,\n      imagePrompt: p.imagePrompt || p.description || 'scene'\n    }))\n  };\n});\n\n// Calculate total images\nconst totalImages = outline.pages.reduce((sum, p) => sum + p.panels.length, 0);\n\nconsole.log('📊 Total images to generate:', totalImages);\n\nreturn [{\n  json: {\n    ...setup,\n    outline: outline,\n    characterDescription: characterDescription,\n    totalImages: totalImages\n  }\n}];"},"id":"304f6db6-3e95-4978-ad6c-d194a7909a44","name":"Parse Outline2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,816]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ (() => {\n  const setup = $('Setup2').first().json;\n  const config = setup.config;\n  const language = setup.language || 'en';\n  const languageName = setup.languageName || 'English';\n  \n  // German prompt for best German quality\n  const systemPromptDE = `Du bist ein professioneller Bilderbuch-Autor und Designer. Deine Aufgabe ist es, detaillierte Bilderbuch-Strukturen mit KONSISTENTEN Charakteren zu erstellen.\n\nDu bekommst vom User Informationen zum Buch und sollst eine vollständige JSON-Struktur zurückgeben.\n\nWICHTIGE ANFORDERUNGEN:\n\n1. CHARACTER CONSISTENCY (ENGLISCH!):\n   - Erstelle ZUERST eine sehr detaillierte \"characterDescription\" auf ENGLISCH\n   - Beschreibe ALLE Hauptcharaktere mit:\n     * Spezies/Art (z.B. \"small blue dragon\", \"young girl\", \"friendly bear\")\n     * Körperliche Merkmale (Größe, Proportionen, Körperbau)\n     * Gesicht (Augenfarbe, Augenform, Nase, Mund, Gesichtsform)\n     * Haare/Fell (Farbe, Textur, Frisur)\n     * Kleidung (detailliert: Farben, Stil, Muster)\n     * Besondere Merkmale (Brille, Accessoires, Narben, etc.)\n   - Diese Beschreibung wird bei JEDEM Bild verwendet für maximale Konsistenz!\n\n2. PANEL-ANZAHL PRO SEITE: 1-4 Panels je nach Szene\n\n3. IMAGE PROMPTS: NUR Szene/Aktion beschreiben, KEINE Charaktere\n\n4. SEITENTEXT: Kurze, kindgerechte Texte (max 50 Wörter)\n\nJSON STRUKTUR:\n{\n  \"bookSummary\": \"Zusammenfassung (2-3 Sätze)\",\n  \"characterDescription\": \"Detaillierte Charakterbeschreibung auf ENGLISCH\",\n  \"pages\": [{ \"number\": 1, \"text\": \"Seitentext\", \"panels\": [{ \"panelIndex\": 0, \"imagePrompt\": \"Scene only\" }] }]\n}\n\nAntworte NUR mit gültigem JSON!`;\n\n  // Generic English prompt for all other languages\n  const systemPromptEN = `You are a professional picture book author and designer. Create detailed picture book structures with CONSISTENT characters.\n\n**IMPORTANT: All page text (\"text\" field) must be written in ${languageName}.**\n\nREQUIREMENTS:\n\n1. CHARACTER CONSISTENCY (ENGLISH!):\n   - Create a detailed \"characterDescription\" in ENGLISH\n   - Describe ALL main characters with: species, physical features, face, hair/fur, clothing, special features\n   - This description is used for EVERY image for consistency!\n\n2. PANELS PER PAGE: 1-4 panels depending on scene\n\n3. IMAGE PROMPTS: Describe ONLY scene/action, NO characters (always in English)\n\n4. PAGE TEXT: Short, age-appropriate text (max 50 words) - **MUST BE IN ${languageName}**\n\nJSON STRUCTURE:\n{\n  \"bookSummary\": \"Summary in ${languageName} (2-3 sentences)\",\n  \"characterDescription\": \"Detailed character description in ENGLISH\",\n  \"pages\": [{ \"number\": 1, \"text\": \"Page text IN ${languageName}\", \"panels\": [{ \"panelIndex\": 0, \"imagePrompt\": \"Scene description in English\" }] }]\n}\n\nRespond ONLY with valid JSON!`;\n\n  const systemPrompt = language === 'de' ? systemPromptDE : systemPromptEN;\n\n  const userPromptDE = `Erstelle eine Bilderbuch-Struktur:\n\n- Titel: \"${config.title}\"\n- Genre: ${config.genre || 'Kinderbuch'}\n- Beschreibung: ${config.description || 'Ein spannendes Abenteuer'}\n- Hauptcharaktere: ${config.mainCharacters || 'Nicht angegeben'}\n- Schauplatz: ${config.setting || 'Nicht angegeben'}\n- Zielgruppe: ${config.targetAudience || 'Kinder 4-8 Jahre'}\n- Bildstil: ${config.imageStyle || 'Illustration'}\n- Ton: ${config.tone || 'kindgerecht'}\n- Anzahl Seiten: ${setup.totalPages}`;\n\n  const userPromptEN = `Create a picture book structure:\n\n**IMPORTANT: Write all page text in ${languageName}!**\n\n- Title: \"${config.title}\"\n- Genre: ${config.genre || 'Children\\'s book'}\n- Description: ${config.description || 'An exciting adventure'}\n- Main Characters: ${config.mainCharacters || 'Not specified'}\n- Setting: ${config.setting || 'Not specified'}\n- Target Audience: ${config.targetAudience || 'Children 4-8 years'}\n- Art Style: ${config.imageStyle || 'Illustration'}\n- Tone: ${config.tone || 'child-friendly'}\n- Number of Pages: ${setup.totalPages}\n\nRemember: Page text must be in ${languageName}!`;\n\n  const userPrompt = language === 'de' ? userPromptDE : userPromptEN;\n\n  return JSON.stringify({\n    model: 'gpt-4o',\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    response_format: { type: 'json_object' },\n    temperature: 0.9,\n    max_tokens: 8000\n  });\n})() }}","options":{"timeout":120000}},"id":"b36a86da-2539-4567-8a10-3fd9a530e205","name":"Generate Outline (GPT-4o)2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,816],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}}},{"parameters":{"method":"POST","url":"={{ $json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', progress: 5, currentStep: $json.messages.starting }) }}","options":{"timeout":120000}},"id":"6a33433b-1844-46ad-8573-b3812c0e4d4f","name":"Status: Start2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,816],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nif (!body.jobId || !body.bookId || !body.config) {\n  throw new Error('Missing required fields: jobId, bookId, config');\n}\n\nlet callbackUrl = body.callbackUrl || '';\nif (!callbackUrl.startsWith('http')) {\n  callbackUrl = 'https://' + callbackUrl;\n}\n\nconst webhookSecret = 'Bookcraft2025vonBeyerdigital!1234321';\n\n// Supabase Storage Credentials\nconst supabaseUrl = 'https://vpqxgzcwsilqbfnlwszc.supabase.co';\nconst supabaseServiceKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwcXhnemN3c2lscWJmbmx3c3pjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODAxNDc4MywiZXhwIjoyMDczNTkwNzgzfQ.9chQEaF4-3fzdLRzGzF_gBzPiWvLlcge4PULcR5KA2o';\nconst storageBucket = 'picturebook-images';\n\n// Multilingual support\nconst language = body.config.language || 'en';\nconst languageNames = {\n  en: 'English', de: 'German (Deutsch)', es: 'Spanish (Español)',\n  fr: 'French (Français)', it: 'Italian (Italiano)', pt: 'Portuguese (Português)',\n  nl: 'Dutch (Nederlands)', pl: 'Polish (Polski)', ru: 'Russian (Русский)',\n  ja: 'Japanese (日本語)', ko: 'Korean (한국어)', zh: 'Chinese (中文)',\n  ar: 'Arabic (العربية)', tr: 'Turkish (Türkçe)', hi: 'Hindi (हिन्दी)',\n  sv: 'Swedish (Svenska)', da: 'Danish (Dansk)', no: 'Norwegian (Norsk)',\n  fi: 'Finnish (Suomi)', cs: 'Czech (Čeština)', el: 'Greek (Ελληνικά)',\n  he: 'Hebrew (עברית)', id: 'Indonesian (Bahasa Indonesia)',\n  th: 'Thai (ไทย)', vi: 'Vietnamese (Tiếng Việt)'\n};\nconst languageName = languageNames[language] || 'English';\n\n// Status messages by language\nconst messages = language === 'de' ? {\n  starting: 'Starte Bilderbuch-Generierung...',\n  structureCreated: 'Buchstruktur erstellt - Starte Bildgenerierung...',\n  generatingCover: 'Generiere Buchcover...',\n  coverComplete: 'Buchcover fertig!',\n  imageOf: 'Bild {current} von {total}',\n  imageGenerating: 'Bild {current} von {total} wird generiert...',\n  imageDone: 'Bild {current} von {total} fertig!',\n  bookComplete: 'Dein Bilderbuch ist fertig!'\n} : {\n  starting: 'Starting picture book generation...',\n  structureCreated: 'Book structure created - Starting image generation...',\n  generatingCover: 'Generating book cover...',\n  coverComplete: 'Book cover complete!',\n  imageOf: 'Image {current} of {total}',\n  imageGenerating: 'Generating image {current} of {total}...',\n  imageDone: 'Image {current} of {total} complete!',\n  bookComplete: 'Your picture book is ready!'\n};\n\nif (!supabaseServiceKey) {\n  console.warn('⚠️ SUPABASE_SERVICE_ROLE_KEY not set - images will be stored as Base64');\n}\n\n// Reference Image Support\n// Supports multiple input formats:\n// 1. body.referenceImage.base64 + body.referenceImage.mode (structured)\n// 2. body.config.referenceImageBase64 (from frontend generate-with-reference)\n// Mode: 'style' = analyze style and create new images, 'edit' = edit the reference image directly\nconst refImage = body.referenceImage || null;\nlet referenceImageBase64 = refImage ? refImage.base64 : null;\nlet referenceImageMode = refImage ? (refImage.mode || 'style') : null;\n\n// Fallback: check config for reference image (frontend sends it here)\nif (!referenceImageBase64 && body.config && body.config.referenceImageBase64) {\n  referenceImageBase64 = body.config.referenceImageBase64;\n  referenceImageMode = body.config.referenceImageMode || 'style';\n}\n\nconst hasReferenceImage = !!referenceImageBase64;\n\nif (hasReferenceImage) {\n  console.log('📸 Reference image provided');\n  console.log('├─ Mode:', referenceImageMode);\n  console.log('└─ Base64 length:', referenceImageBase64.length);\n}\n\nreturn [{\n  json: {\n    jobId: body.jobId,\n    bookId: body.bookId,\n    userId: body.userId,\n    config: body.config,\n    callbackUrl: callbackUrl,\n    webhookSecret: webhookSecret,\n    totalPages: body.config.totalPages || 12,\n    supabaseUrl: supabaseUrl,\n    supabaseServiceKey: supabaseServiceKey,\n    storageBucket: storageBucket,\n    language: language,\n    languageName: languageName,\n    messages: messages,\n    // Reference image data\n    referenceImageBase64: referenceImageBase64,\n    referenceImageMode: referenceImageMode,\n    hasReferenceImage: hasReferenceImage\n  }\n}];"},"id":"17eb270b-c071-4904-b8fa-93ed81e882e3","name":"Setup2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,816]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, executionId: $execution.id, jobId: $json.body.jobId, bookId: $json.body.bookId }) }}","options":{}},"id":"1800abe7-91e6-4bf4-b009-c899c7ca7365","name":"Response2","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[960,816]},{"parameters":{"httpMethod":"POST","path":"picturebook-generation-start","responseMode":"responseNode","options":{}},"id":"985ae935-3e26-4f7e-92fb-b76941a280c2","name":"Webhook2","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[736,816],"webhookId":"picturebook-generation-start"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-image-1.5', prompt: $json.finalPrompt, size: '1024x1024', quality: 'high', n: 1 }) }}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5776,812],"id":"72703ee5-e134-46e9-ac1d-2f6d2610e610","name":"Generate Image (GPT-1.5 Primary)","credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"591b79a6-0dba-4c3c-97f1-e5588c907188","leftValue":"={{ JSON.stringify($json) }}","rightValue":"error","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"rate-limit-check","leftValue":"={{ JSON.stringify($json) }}","rightValue":"rate_limit","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"content-policy-check","leftValue":"={{ JSON.stringify($json) }}","rightValue":"content_policy","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[5888,1008],"id":"5de862c2-271e-43ae-b9ab-6dc2303fcd1c","name":"Check GPT-1.5 Error"},{"parameters":{"jsCode":"// Prepare DALL-E 3 Fallback Request\nconst panel = $('Loop Images2').first().json;\nconst prompt = panel.finalPrompt || panel.imagePrompt || 'illustration';\n\nconsole.log('⚠️ GPT-Image-1.5 failed, trying DALL-E 3 fallback...');\nconsole.log('📝 Prompt:', prompt.substring(0, 100) + '...');\n\nreturn [{\n  json: {\n    ...panel,\n    currentProvider: 'dall-e-3',\n    finalPrompt: prompt\n  }\n}];"},"id":"f3d3d72a-e3fa-4a5a-add0-12712f2de37c","name":"Prepare DALL-E 3 Fallback","type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,928]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.finalPrompt, size: '1024x1024', quality: 'standard', n: 1 }) }}","options":{"timeout":120000}},"id":"adfa928a-772c-4508-8a62-fcff59787cde","name":"Generate Image (DALL-E 3 Fallback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6336,928],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"gpt-error-check","leftValue":"={{ $json.error ? 'true' : 'false' }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[6560,976],"id":"8f3e85a7-0b71-409e-97d9-00003bf3c38a","name":"Check GPT-Image-1 Error1"},{"parameters":{"jsCode":"// Prepare DALL-E 3 Fallback Request\nconst panel = $('Loop Images2').first().json;\nconst prompt = panel.finalPrompt || panel.imagePrompt || 'illustration';\n\nconsole.log('⚠️ GPT-Image-1 failed, trying DALL-E 3 fallback...');\nconsole.log('📝 Prompt:', prompt.substring(0, 100) + '...');\n\nreturn [{\n  json: {\n    ...panel,\n    currentProvider: 'dall-e-3',\n    finalPrompt: prompt\n  }\n}];"},"id":"029085bc-8905-4b8d-895d-66a45c7985c6","name":"Prepare DALL-E ","type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,1056]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'dall-e-3', prompt: $json.finalPrompt, size: '1024x1024', quality: 'standard', n: 1 }) }}","options":{"timeout":120000}},"id":"e64ed871-d3dd-4cf6-820a-172c1134003c","name":"Generate Image (DALL-E 3)1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7008,1056],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"dalle-error-check","leftValue":"={{ $json.error ? 'true' : 'false' }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[7232,1056],"id":"96e3ca1b-0ab1-47bb-9601-2174b79f95d6","name":"Check DALL-E 3 Error1"},{"parameters":{"jsCode":"// Skip this image - all providers failed\nconst panel = $('Loop Images2').first().json;\n\nconsole.error('❌ All image providers failed for image', panel.imageIndex + 1);\nconsole.error('Skipping this image and continuing with next...');\n\n// Return empty to continue loop without this image\nreturn [{\n  json: {\n    ...panel,\n    skipped: true,\n    skipReason: 'All image providers failed (Gemini, GPT-Image-1, DALL-E 3)'\n  }\n}];"},"id":"7fdc37ab-5a30-4fe3-b7d9-3ccef5344f93","name":"Skip Failed Image1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7456,1168]},{"parameters":{"jsCode":"// Parse OpenAI Image Response (GPT-Image-1 or DALL-E 3)\nconst response = $input.first().json;\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\n\nlet imageBase64 = '';\nlet imageUrl = '';\n\ntry {\n  // OpenAI returns either b64_json or url\n  if (response.data?.[0]?.b64_json) {\n    imageBase64 = response.data[0].b64_json;\n    console.log('✅ Got Base64 image from OpenAI');\n  } else if (response.data?.[0]?.url) {\n    // We have a URL - we'll need to download it\n    imageUrl = response.data[0].url;\n    console.log('✅ Got URL image from OpenAI:', imageUrl.substring(0, 50) + '...');\n  } else {\n    throw new Error('No image data in OpenAI response');\n  }\n} catch (error) {\n  console.error('❌ Failed to parse OpenAI response:', error);\n  throw error;\n}\n\n// Create storage path\nconst storagePath = `${panel.userId || setup.userId || 'anonymous'}/${panel.bookId || setup.bookId}/page-${panel.pageIndex}-panel-${panel.panelIndex}.png`;\n\n// Create final public URL\nconst finalImageUrl = `${panel.supabaseUrl || setup.supabaseUrl}/storage/v1/object/public/${panel.storageBucket || setup.storageBucket}/${storagePath}`;\n\nconsole.log('📁 Storage Path:', storagePath);\nconsole.log('🔗 Final Image URL:', finalImageUrl);\n\nreturn [{\n  json: {\n    ...panel,\n    storagePath: storagePath,\n    imageUrl: finalImageUrl,\n    imageBase64: imageBase64,\n    tempImageUrl: imageUrl,\n    supabaseUrl: panel.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: panel.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: panel.storageBucket || setup.storageBucket\n  }\n}];"},"id":"987b622d-3359-4eae-b4ec-ec5780417572","name":"Parse OpenAI Image1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7456,880]},{"parameters":{"jsCode":"// Convert Base64 to Binary for Supabase Upload\nconst data = $input.first().json;\n\nif (data.imageBase64) {\n  // We have Base64 - convert to binary\n  const binaryData = Buffer.from(data.imageBase64, 'base64');\n  \n  return [{\n    json: data,\n    binary: {\n      data: {\n        data: data.imageBase64,\n        mimeType: 'image/png',\n        fileName: `page-${data.pageIndex}-panel-${data.panelIndex}.png`\n      }\n    }\n  }];\n} else if (data.tempImageUrl) {\n  // We have a URL - pass it through, will need HTTP Request to download\n  console.log('⚠️ Need to download image from URL');\n  return [{ json: { ...data, needsDownload: true } }];\n}\n\nthrow new Error('No image data available');"},"id":"f6b64ff8-b0bd-46ca-aade-7b35b1e34dca","name":"Convert to Binary1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7680,880]},{"parameters":{"jsCode":"// Parse Image - Verarbeite die Bildgenerierung und bereite Upload vor\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nconst response = $input.first().json;\n\n// Erstelle Storage Path\nconst storagePath = `${panel.userId || setup.userId || 'anonymous'}/${panel.bookId || setup.bookId}/page-${panel.pageIndex}-panel-${panel.panelIndex}.png`;\n\n// Erstelle die finale Image URL (Supabase Public URL)\nconst imageUrl = `${panel.supabaseUrl || setup.supabaseUrl}/storage/v1/object/public/${panel.storageBucket || setup.storageBucket}/${storagePath}`;\n\n// Extract base64 from OpenAI GPT Image 1.5 response\nlet imageBase64 = '';\nif (response.data && response.data[0]) {\n  imageBase64 = response.data[0].b64_json || '';\n}\n\nconsole.log('✅ Parse Image (GPT-1.5):', panel.imageIndex + 1, '/', panel.totalImages);\nconsole.log('📁 Storage Path:', storagePath);\nconsole.log('🔗 Image URL:', imageUrl);\nconsole.log('📊 Base64 length:', imageBase64.length);\n\n// Konvertiere Base64 zu Binary\nlet binaryData = {};\nif (imageBase64) {\n  binaryData = {\n    data: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: `page-${panel.pageIndex}-panel-${panel.panelIndex}.png`\n    }\n  };\n}\n\n// Gib alle Daten weiter, die die nachfolgenden Nodes brauchen\nreturn [{\n  json: {\n    ...panel,\n    storagePath: storagePath,\n    imageUrl: imageUrl,\n    currentProvider: 'gpt-image-1.5',\n    supabaseUrl: panel.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: panel.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: panel.storageBucket || setup.storageBucket,\n    imageBase64: imageBase64\n  },\n  binary: binaryData\n}];"},"id":"7da4502d-b01a-4175-855d-1837e16347de","name":"Parse Image2","type":"n8n-nodes-base.code","typeVersion":2,"position":[7680,640]},{"parameters":{"jsCode":"// Prepare Cover Generation Request\n// This runs FIRST before page images for immediate visual feedback\nconst data = $input.first().json;\nconst setup = $('Setup2').first().json;\n\nconst config = data.config || setup.config;\nconst title = config.title || 'Untitled Book';\nconst genre = config.genre || 'Children\\'s book';\nconst description = config.description || '';\nconst characterDescription = data.characterDescription || config.mainCharacters || '';\nconst visualStyle = config.imageStyle || 'illustration';\n\n// Build the cover generation prompt\nconst coverPrompt = `Create a ${visualStyle} artwork for a book titled \"${title}\".\n\nCRITICAL REQUIREMENTS:\n- Generate ONLY the front cover artwork as a FLAT, 2D image\n- NO 3D book rendering, NO book spine, NO book edges\n- The entire image should be filled with the cover artwork edge-to-edge\n\nCHARACTER CONSISTENCY (use these exact descriptions):\n${characterDescription}\n\nGenre: ${genre}\nDescription: ${description}\n\nInclude the book title \"${title}\" in elegant, readable typography that fits the ${visualStyle} style.`;\n\nconsole.log('📕 Preparing cover generation...');\nconsole.log('📝 Cover Prompt:', coverPrompt.substring(0, 300) + '...');\n\n// Create storage path for cover\nconst userId = data.userId || setup.userId || 'anonymous';\nconst bookId = data.bookId || setup.bookId;\nconst storagePath = `${userId}/${bookId}/cover.png`;\n\nreturn [{\n  json: {\n    ...data,\n    coverPrompt: coverPrompt,\n    coverStoragePath: storagePath,\n    isCover: true,\n    supabaseUrl: data.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: data.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: data.storageBucket || setup.storageBucket\n  }\n}];"},"id":"1a948995-332f-4ed9-a8f7-d74b0a79279f","name":"Prepare Cover Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,816]},{"parameters":{"method":"POST","url":"={{ $json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $json.jobId, status: 'processing', progress: 7, currentStep: $('Setup2').first().json.messages.generatingCover }) }}","options":{"timeout":120000}},"id":"49da1529-5d45-4cb0-ad34-053f1ac7c574","name":"Status: Generating Cover","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,816],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'gpt-image-1.5', prompt: $json.coverPrompt, size: '1024x1536', quality: 'high', n: 1 }) }}","options":{"timeout":180000}},"id":"c00be82c-fcdd-45ec-a03c-29c7b849b21d","name":"Generate Cover (GPT-1.5)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2752,816],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cover-error-check","leftValue":"={{ JSON.stringify($json) }}","rightValue":"error","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2976,816],"id":"514ba7f7-0b3e-4de6-a516-ab0873a2cfbb","name":"Check Cover Error"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'dall-e-3', prompt: $('Prepare Cover Request').first().json.coverPrompt, size: '1024x1792', quality: 'hd', n: 1 }) }}","options":{"timeout":180000}},"id":"e9db46c7-1ba1-4787-a7a6-39645ea9fa2e","name":"Generate Cover (DALL-E 3 Fallback)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,736],"credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Parse Cover Image Response\nconst response = $input.first().json;\nconst prepData = $('Prepare Cover Request').first().json;\nconst setup = $('Setup2').first().json;\n\nlet imageBase64 = '';\nlet tempImageUrl = '';\n\ntry {\n  // OpenAI returns either b64_json or url\n  if (response.data?.[0]?.b64_json) {\n    imageBase64 = response.data[0].b64_json;\n    console.log('✅ Got Base64 cover image from OpenAI');\n  } else if (response.data?.[0]?.url) {\n    tempImageUrl = response.data[0].url;\n    console.log('✅ Got URL cover image from OpenAI:', tempImageUrl.substring(0, 50) + '...');\n  } else {\n    console.error('❌ No cover image data in response');\n    // Continue without cover - don't block the workflow\n    return [{ json: { ...prepData, coverSkipped: true, skipReason: 'No image data in response' } }];\n  }\n} catch (error) {\n  console.error('❌ Failed to parse cover response:', error);\n  return [{ json: { ...prepData, coverSkipped: true, skipReason: error.message } }];\n}\n\n// Create final public URL\nconst coverUrl = `${prepData.supabaseUrl}/storage/v1/object/public/${prepData.storageBucket}/${prepData.coverStoragePath}`;\n\nconsole.log('📕 Cover Storage Path:', prepData.coverStoragePath);\nconsole.log('🔗 Cover URL:', coverUrl);\n\n// Prepare binary data for upload\nlet binaryData = {};\nif (imageBase64) {\n  binaryData = {\n    data: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: 'cover.png'\n    }\n  };\n}\n\nreturn [{\n  json: {\n    ...prepData,\n    coverUrl: coverUrl,\n    coverImageBase64: imageBase64,\n    coverTempUrl: tempImageUrl,\n    isCover: true,\n    currentProvider: 'gpt-image-1.5'\n  },\n  binary: binaryData\n}];"},"id":"6a053335-fe4b-4b29-8eae-3c49f54f3f16","name":"Parse Cover Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,816]},{"parameters":{"method":"PUT","url":"={{ $json.supabaseUrl }}/storage/v1/object/{{ $json.storageBucket }}/{{ $json.coverStoragePath }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.supabaseServiceKey }}"},{"name":"Content-Type","value":"image/png"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"timeout":120000}},"id":"384d9628-2214-4e24-a9f5-38b459c0ec7f","name":"Upload Cover to Storage","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3648,816],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('Prepare Cover Request').first().json.callbackUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-n8n-webhook-secret","value":"={{ $('Prepare Cover Request').first().json.webhookSecret }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobId: $('Prepare Cover Request').first().json.jobId, status: 'processing', progress: 9, currentStep: $('Setup2').first().json.messages.coverComplete, coverUrl: $('Parse Cover Image').first().json.coverUrl }) }}","options":{"timeout":120000}},"id":"0500d6a0-34ca-4b0f-bf6c-c300a0a405f1","name":"Send Cover Update","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3872,816],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Continue to page image generation after cover is done\nconst prepData = $('Prepare Cover Request').first().json;\n\nconsole.log('📕 Cover generation complete, continuing to page images...');\n\nreturn [{ json: prepData }];"},"id":"abd33bd7-2063-4f9c-a138-c55da0050403","name":"Continue After Cover","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,816]},{"parameters":{"jsCode":"// Skip cover generation - error occurred\nconst prepData = $('Prepare Cover Request').first().json;\n\nconsole.warn('⚠️ Cover generation failed, continuing without cover...');\n\nreturn [{ json: { ...prepData, coverSkipped: true } }];"},"id":"4abdfbab-8a33-411a-97b4-80caa593d261","name":"Skip Cover (Error)","type":"n8n-nodes-base.code","typeVersion":2,"position":[4096,1008]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"ref-image-check","leftValue":"={{ $json.hasReferenceImage }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5552,912],"id":"if-ref-image-001","name":"Check Reference Image"},{"parameters":{"jsCode":"// Convert base64 reference image to binary for multipart upload\nconst panel = $input.first().json;\n\nconst refImageBase64 = panel.referenceImageBase64;\nif (!refImageBase64) {\n  throw new Error('No reference image base64 data found');\n}\n\n// Clean base64 (remove data URI prefix if present)\nlet cleanBase64 = refImageBase64;\nif (cleanBase64.startsWith('data:')) {\n  cleanBase64 = cleanBase64.split(',')[1];\n}\n\n// Convert to binary buffer\nconst binaryData = Buffer.from(cleanBase64, 'base64');\n\n// Return with binary data attached\nreturn [{\n  json: {\n    ...panel\n  },\n  binary: {\n    referenceImage: {\n      data: binaryData.toString('base64'),\n      mimeType: 'image/png',\n      fileName: 'reference.png',\n      fileSize: binaryData.length,\n      fileExtension: 'png'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5664,1112],"id":"convert-ref-img-001","name":"Convert Ref Image to Binary"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/images/edits","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"referenceImage"},{"parameterType":"formData","name":"prompt","value":"={{ $json.finalPrompt }}"},{"parameterType":"formData","name":"model","value":"gpt-image-1.5"},{"parameterType":"formData","name":"size","value":"1024x1024"},{"parameterType":"formData","name":"quality","value":"high"},{"parameterType":"formData","name":"n","value":"1"}]},"options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5888,1112],"id":"edit-api-001","name":"Generate Image (Edit API)","credentials":{"httpBearerAuth":{"id":"0gfwTUechOA6WzAO","name":"Bookcraft OpenAI"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Parse Edit API Image response - same format as generations\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nconst response = $input.first().json;\n\nconst storagePath = `${panel.userId || setup.userId || 'anonymous'}/${panel.bookId || setup.bookId}/page-${panel.pageIndex}-panel-${panel.panelIndex}.png`;\nconst imageUrl = `${panel.supabaseUrl || setup.supabaseUrl}/storage/v1/object/public/${panel.storageBucket || setup.storageBucket}/${storagePath}`;\n\nlet imageBase64 = '';\nif (response.data && response.data[0]) {\n  imageBase64 = response.data[0].b64_json || '';\n}\n\nconsole.log('✅ Parse Edit API Image:', panel.imageIndex + 1, '/', panel.totalImages);\nconsole.log('📁 Storage Path:', storagePath);\nconsole.log('🎨 Used Reference Image: YES (Edit API)');\nconsole.log('📊 Base64 length:', imageBase64.length);\n\nlet binaryData = {};\nif (imageBase64) {\n  binaryData = {\n    data: {\n      data: imageBase64,\n      mimeType: 'image/png',\n      fileName: `page-${panel.pageIndex}-panel-${panel.panelIndex}.png`\n    }\n  };\n}\n\nreturn [{\n  json: {\n    ...panel,\n    storagePath: storagePath,\n    imageUrl: imageUrl,\n    currentProvider: 'gpt-image-1.5-edit',\n    supabaseUrl: panel.supabaseUrl || setup.supabaseUrl,\n    supabaseServiceKey: panel.supabaseServiceKey || setup.supabaseServiceKey,\n    storageBucket: panel.storageBucket || setup.storageBucket,\n    imageBase64: imageBase64\n  },\n  binary: binaryData\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,1112],"id":"parse-edit-img-001","name":"Parse Edit API Image"},{"parameters":{"jsCode":"// If Edit API failed, log and route to standard generation fallback\nconst error = $input.first().json;\nconsole.log('⚠️ Edit API failed, falling back to standard generation');\nconsole.log('Error:', JSON.stringify(error).substring(0, 500));\n\n// Pass through to standard generation (without reference image)\nconst panel = $('Loop Images2').first().json;\nconst setup = $('Setup2').first().json;\nreturn [{\n  json: {\n    ...panel,\n    ...($('Check Reference Image').first().json),\n    hasReferenceImage: false,\n    editApiFailed: true\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,1312],"id":"check-edit-error-001","name":"Check Edit API Error"}],"connections":{"Log Provider Usage":{"main":[[{"node":"Upload to Supabase Storage2","type":"main","index":0}]]},"Complete Book2":{"main":[[{"node":"Status: Complete2","type":"main","index":0}]]},"Complete Job2":{"main":[[{"node":"Complete Book2","type":"main","index":0}]]},"Continue Loop2":{"main":[[{"node":"Loop Images2","type":"main","index":0}]]},"Send Image Update2":{"main":[[{"node":"Continue Loop2","type":"main","index":0}]]},"Upload to Supabase Storage2":{"main":[[{"node":"Send Image Update2","type":"main","index":0}]]},"Prepare Imagen Request2":{"main":[[{"node":"Check Reference Image","type":"main","index":0}]]},"Wait 2s2":{"main":[[{"node":"Prepare Imagen Request2","type":"main","index":0}]]},"Heartbeat2":{"main":[[{"node":"Wait 2s2","type":"main","index":0}]]},"Status: Generating Image2":{"main":[[{"node":"Heartbeat2","type":"main","index":0}]]},"Loop Images2":{"main":[[{"node":"Complete Job2","type":"main","index":0}],[{"node":"Status: Generating Image2","type":"main","index":0}]]},"Flatten All Panels2":{"main":[[{"node":"Loop Images2","type":"main","index":0}]]},"Status: Outline Done2":{"main":[[{"node":"Prepare Cover Request","type":"main","index":0}]]},"Parse Outline2":{"main":[[{"node":"Status: Outline Done2","type":"main","index":0}]]},"Generate Outline (GPT-4o)2":{"main":[[{"node":"Parse Outline2","type":"main","index":0}]]},"Status: Start2":{"main":[[{"node":"Generate Outline (GPT-4o)2","type":"main","index":0}]]},"Setup2":{"main":[[{"node":"Status: Start2","type":"main","index":0}]]},"Response2":{"main":[[{"node":"Setup2","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Response2","type":"main","index":0}]]},"Generate Image (GPT-1.5 Primary)":{"main":[[{"node":"Parse Image2","type":"main","index":0}],[{"node":"Check GPT-1.5 Error","type":"main","index":0}]]},"Check GPT-1.5 Error":{"main":[[{"node":"Prepare DALL-E 3 Fallback","type":"main","index":0}],[{"node":"Skip Failed Image1","type":"main","index":0}]]},"Prepare DALL-E 3 Fallback":{"main":[[{"node":"Generate Image (DALL-E 3 Fallback)","type":"main","index":0}]]},"Generate Image (DALL-E 3 Fallback)":{"main":[[{"node":"Parse OpenAI Image1","type":"main","index":0}],[{"node":"Check GPT-Image-1 Error1","type":"main","index":0}]]},"Check GPT-Image-1 Error1":{"main":[[{"node":"Prepare DALL-E ","type":"main","index":0}],[{"node":"Parse OpenAI Image1","type":"main","index":0}]]},"Prepare DALL-E ":{"main":[[{"node":"Generate Image (DALL-E 3)1","type":"main","index":0}]]},"Generate Image (DALL-E 3)1":{"main":[[{"node":"Check DALL-E 3 Error1","type":"main","index":0}],[{"node":"Check DALL-E 3 Error1","type":"main","index":0}]]},"Check DALL-E 3 Error1":{"main":[[{"node":"Skip Failed Image1","type":"main","index":0}],[{"node":"Parse OpenAI Image1","type":"main","index":0}]]},"Skip Failed Image1":{"main":[[{"node":"Continue Loop2","type":"main","index":0}]]},"Parse OpenAI Image1":{"main":[[{"node":"Convert to Binary1","type":"main","index":0}]]},"Convert to Binary1":{"main":[[{"node":"Log Provider Usage","type":"main","index":0}]]},"Parse Image2":{"main":[[{"node":"Log Provider Usage","type":"main","index":0}]]},"Prepare Cover Request":{"main":[[{"node":"Status: Generating Cover","type":"main","index":0}]]},"Status: Generating Cover":{"main":[[{"node":"Generate Cover (GPT-1.5)","type":"main","index":0}]]},"Generate Cover (GPT-1.5)":{"main":[[{"node":"Check Cover Error","type":"main","index":0}],[{"node":"Check Cover Error","type":"main","index":0}]]},"Check Cover Error":{"main":[[{"node":"Generate Cover (DALL-E 3 Fallback)","type":"main","index":0}],[{"node":"Parse Cover Image","type":"main","index":0}]]},"Generate Cover (DALL-E 3 Fallback)":{"main":[[{"node":"Parse Cover Image","type":"main","index":0}]]},"Parse Cover Image":{"main":[[{"node":"Upload Cover to Storage","type":"main","index":0}]]},"Upload Cover to Storage":{"main":[[{"node":"Send Cover Update","type":"main","index":0}]]},"Send Cover Update":{"main":[[{"node":"Continue After Cover","type":"main","index":0}]]},"Continue After Cover":{"main":[[{"node":"Flatten All Panels2","type":"main","index":0}]]},"Skip Cover (Error)":{"main":[[{"node":"Flatten All Panels2","type":"main","index":0}]]},"Check Reference Image":{"main":[[{"node":"Convert Ref Image to Binary","type":"main","index":0}],[{"node":"Generate Image (GPT-1.5 Primary)","type":"main","index":0}]]},"Convert Ref Image to Binary":{"main":[[{"node":"Generate Image (Edit API)","type":"main","index":0}]]},"Generate Image (Edit API)":{"main":[[{"node":"Parse Edit API Image","type":"main","index":0}],[{"node":"Check Edit API Error","type":"main","index":0}]]},"Parse Edit API Image":{"main":[[{"node":"Log Provider Usage","type":"main","index":0}]]},"Check Edit API Error":{"main":[[{"node":"Generate Image (GPT-1.5 Primary)","type":"main","index":0}]]}},"authors":"Julien Beyer","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-14T23:01:05.810Z","id":207,"workflowId":"1GgD7oHDSv7BRpcc","versionId":"5689b2c5-bb28-4ae1-ab05-b4b3c7f03189","event":"activated","userId":"1c33990f-ed15-4131-9307-2f081560bac0"}]}}